<%= render :partial => 'mobile/index_form', :locals => {:title => 'Channel Details'} %>

<%= content_for :head do %>
<script>
  $(function() {  
        var myScroll;
        function loaded() {
            myScroll = new iScroll('wrapper', { scrollbarClass: 'myScrollbar' });
    }

        document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
        document.addEventListener('DOMContentLoaded', loaded, false);
  });     
</script>
<% end %>

<%= content_for :content do %>
  <div id="wrapper">
	<div id="scroller">
		<div class="mtop center-wrapper">
  			<%= render :partial => 'mobile/show_photo', :locals => {:model => @channel, :vtype => 'show-pic' }%>
  			<h3><%= @channel.channel_name %></h3>
		</div>
  		<div id="show-item">
			<% unless @channel.cbody.blank? %>
				<p><label><%= 'Summary:' %></label>
				<span class="item-detail"><%= @channel.cbody.html_safe %></span></p><br />
			<% end %>
  		</div>
    </div>
  </div>
<% end %>

<%= render :partial => 'mobile/channel_footer', :locals => { :channel => @channel } %>
