<%= render :partial => 'mobile/index_form', :locals => {:title => 'Channel Events'} %>

<%= content_for :content do %>
	<p class="chan-title"><%= @channel.channel_name %></p>
	<span class="item-descr"><%= @channel.bbody %></span>		
  	<ul data-role="listview">
		<li data-role="list-divider" class="center-wrapper">Upcoming Events</li>
		<%= render :partial => 'mobile/event_list', :collection => @events, :as => :event %>	
  	</ul>
<% end %>

<%= render :partial => 'mobile/channel_footer', :locals => { :channel => @channel } %>
