
<% content_for :content do %>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
 	<%= devise_error_messages! %>
 	<%= render :partial => 'mobile/user_profile', :locals => {:f=>f, :signup=>true}%>
   	<p><%= f.submit "Sign Up", "data-theme"=>"b" %></p>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
<% end %>
