<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css"></style>
  </head>
  <body>

	<span><%= "Hello," %></span><br /><br />
    
    <p><%= @notice.message %> <%= @notice.event_name %> on <%= "#{@notice.start_date}" %> from <%= "#{@notice.start_time} - #{@notice.end_time}" %>. 
    	  
      <% if !@notice.location.blank? && @notice.Notice_Type == 'invite' %>
      	This event will be held at <%= @notice.location %>.
      <% end %></p><br />

    Regards,	
    <p><%= "#{@user.name}"%> </p>  	<br /><br />
    <%= render :partial=>'mail_footer' %>
  </body>
</html>