<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css"></style>
  </head>
  <body>

	<h2><%= @reminder.reminder_name %></h2><br />
    
    <p>When: <%= @reminder.startdate %> <%= "#{@reminder.getstarttime} - #{@reminder.endtime}" %> <%= @tz %></p><br /> 
    <p>Details: <%= @reminder.remindertext %> </p>
  	<br /><br />
    <%= render :partial=>'mail_footer' %>

  </body>
</html>