<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css"></style>
  </head>
  <body>

	<h2><%= @reminder.reminder_name %></h2><br />
    
    <p>When: <%= @reminder.startdate %> <%= "#{@reminder.getstarttime} - #{@reminder.endtime}" %> <%= @tz %></p><br /> 
    <p>Details: <%= @reminder.remindertext %> </p>

  </body>
  <footer>
  	<center><span style="color:grey;font-size:10px;">You are receiving this message at <%= @email %> because you set a reminder on Koncierge.</span></center>
  	<center><span style="color:grey;font-size:10px;">You can change your reminders for specific events in the event details at <%= @url %>.</span></center><br />
  	<center><span style="color:grey;font-size:10px;">&copy; 2011-12 KITS, Inc. PO Box 3900, Palo Alto, CA 94306 USA. All rights reserved.</span></center> 	
  </footer>
</html>