<!DOCTYPE html>
<html>
<head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body>
	<span style="background-color:#0C6FCB;height:30px;font-weight:bold;font-size:16px;color:#FFFFFF;"><%= "#{@title}" %>
	<span style="font-size:11px;margin-left:60%;"><%= link_to "My Homepage", new_session_url(@user), {:style=>'color:#FFFFFF;'} %></span></span>
  	<br /><br />
	<span><%= "Hi #{@user.first_name}," %><br /><br />
	Your account has been created — now it will be easier than ever to plan, share, and discover activities for your schedule.</span><br /><br />

	<table style="background-color:#C2E1EF;font-size:12px;">
  		<tr><td><span style="color:blue;font-weight:bold;">Your sign-in details:</span></td></tr> 
  		<tr></tr>
  		<tr><td><span style="color:blue;font-weight:bold;">Username:</span></td><td><%= @user.username %></td></tr>
  		<tr><td><span style="color:blue;font-weight:bold;">E-mail:</span></td><td><%= @user.email %></td></tr>
  		<tr><td><span style="color:blue;font-weight:bold;">Password:</span></td><td><%= @user.password %></td></tr>
		<tr></tr>
		<tr><td><span>Please keep your sign-in details somewhere safe.</span></td></tr>
	</table><br />
	
	<span>Thanks for joining and have a great day!</span><br /><br />
	<span>The KITS Team</span>
  	<br /><br />
    <%= render :partial=>'mail_footer' %>
  </body>
</html>

