<%= render :partial => 'mobile/index_form', :locals => {:title => @title} %>

<%= content_for :subhead do %>
	<%= render 'mobile/travelmode' %>
<% end %>

<%= content_for :content do %>
	<div class="loc" data-loc="<%= @loc %>"></div>
	<div id="map_canvas" class="lnglat" data-lnglat="<%= @lnglat %>" style="display: none"></div>
	<div id="directionsPanel"></div>
	<div id='map_details'></div>
<% end %>