<div class="show-item">
  <p><span class="prepend-6 event-title"><%= @event.event_title %></span></p>
  <div class="span-4"><%= image_tag "schedule1.jpg", :alt => "none", :size => "120x120" %></div>
  <div class="span-2"><%= 'Date:' %></div>
  <div class="span-18 last">	<%= get_start_date(@event.eventstartdate, @event.eventenddate, "Show") %><br /></div>	
  <div class="span-2"><%= 'Time:'%></div>

  <% if holiday?(@event.event_type) %>
	<div class="span-18 last"><%= "All Day" %></div>
  <% else %>
	<div class="span-18 last">
		<%= " #{chk_offset(@event.eventstarttime, @event.localGMToffset, @event.eventid)} 
			- #{chk_offset(@event.eventendtime, @event.endGMToffset, @event.eventid)}" %>
	</div>
  <% end %>
  
  <%= render :partial => 'show_event_contact' %>
  <%= render :partial => 'show_event_location' %>
</div>