<%= set_title("User List") %>
<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'User' } %>

<% content_for :subhead do -%>
	<div class="grp-hdr"></div> <%= render :partial => 'shared/connection_hdr' %><hr />
<% end %>

<% content_for :left_sidebar do -%>
	<%= render :partial => 'shared/rel_nav_panel' %>
<% end %>

<%= content_for :content do -%>
  	   	<% unless notice.nil? %>
  	   		<p class="notice"><%= notice %></p>
  	   	<% end %>
       	<% unless alert.nil? %>
            <p class="alert"><%= alert %></p>     
       	<% end %>
	<div class="span-20 last">
		<% chkConnections(@local_users).each do |usr| %>
			<div id="user_form"><%= render :partial => 'shared/user_item', :locals => {:model => usr} unless connected?(usr) %></div>
		<% end %>
  	</div>
<% end %>  
