<%= render :partial => 'mobile/index_form', :locals => {:title => 'My Connections'} %>

<%= content_for :head do %>
	<div data-role="navbar">
	  	<ul>
			<li><%= link_to "All", relationships_url(:user_id=>@user, :ctype => 'Private'), "data-theme"=>"a" %> </li>
			<li><%= link_to "Private", private_relationships_url(:user_id=>@user, :ctype => 'Private'), "data-theme"=>"a" %> </li>
			<li><%= link_to "Social", social_relationships_url(:user_id=>@user, :ctype => 'Social'), "data-theme"=>"a" %> </li>
			<li><%= link_to "World", world_relationships_url(:user_id=>@user, :ctype => 'World') %> </li>	  		
		</ul>
	</div>
<% end %>

<%= content_for :content do %>
	<%= render :partial => 'mobile/user_list', :locals => {:users => @user.try(:trackers)}%>
<% end %>

<%= content_for :footer do %>
	<div data-role="navbar">
	  	<ul>
			<li><%= link_to "Add", users_url(:user_id=>@user), "data-icon"=>"plus" %> </li>
		</ul>
	</div>
<% end %>
