<%= render :partial => 'mobile/index_form', :locals => {:title => 'Add Connection'} %>

<%= content_for :content do %>
	<div class="center-wrapper">
		<%= render :partial => 'mobile/show_photo', :locals => {:model => @user, :vtype => 'ppic', :file_name => 'headshot2.jpg', :psize=>'80x80' }%>
		<h4><%= "#{@user.first_name} #{@user.last_name}" %></h4>
	</div>
	<% @user.affiliations.each do |aff| %>
		<%= aff.name %><br />
	<% end %>
<% end %>

<%= content_for :footer do %>
    <% if controller_name == 'users' %>
	  <div data-role="navbar">
		<ul>
			<li><%= link_to "Select", relationships_url(:trk_id=>@user.id, :rtype=>@rel_type), :method => :post %></li>		
		</ul>
	  </div>
	<% end %>
<% end %>
