<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Sign Up' } %>

<% content_for :content do %>
  <%= render :partial => "devise/shared/links" %>
  <h3><strong>Forgot your password?</strong></h3>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
 	<div id="newreg">
  		<p><span>Email </span><%= f.text_field :email, :size => 40 %></p>
  		<p><%= f.submit "Send" %></p>
	</div>
  <% end %>
<% end %>