<% content_for :head do %>
	<%= render "mobile/infield_form_labels" %>
<% end -%>

<% content_for :content do -%>
<div data-role="content">
  <div class="center-wrapper">
	<p><%= image_tag("#{get_name_or_logo('logo')}", :class =>"logo") %></p><br />
  </div> 

  <center><strong>Forgot your password?</strong></center>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		<div id="mform">
			<p><label for="user_email">Email</label>
			<%= f.text_field :email  %></p>
		</div>
  		<p><%= f.submit "Send", "data-theme"=>"b" %></p>
  <% end %>
  <%= render :partial => "devise/shared/links" %>
</div>
<% end %>