<div id="addEvent" class="files"> 
<%= form_for @event, :html => { :class => "upload", :multipart => true } do |f| %>
	<%= render "shared/error_messages", :target => @event %>  
	<%= render :partial => 'shared/event_info', :locals => { :f => f } %>
	<%= render :partial => 'shared/event_times', :locals => { :f => f } %>
	<%= render :partial => 'shared/event_details', :locals => { :f => f } %>
	<%= render :partial => 'shared/event_location', :locals => { :f => f } %>
	<% if chk_action(action_name, @event) %> 
		<%= render :partial => 'shared/event_notify', :locals => { :f => f } %>
	<% end %>

	<% if controller_name == 'life_events' %>
		<%= render :partial => 'shared/event_show', :locals => { :f => f } %>
	<% end %>

	<% if data_form? %>	
    	<%= f.hidden_field :contentsourceID, :value => @user.ssid %>
    	<%= f.hidden_field :subscriptionsourceID, :value => @user.ssid %>
    <% end %>
	<%= f.hidden_field :LastModifyBy, :value => @user.last_name + ', ' + @user.first_name %>
	<%= f.hidden_field :CreateDateTime, :value => Time.now %>

	<div class="span-24 last" id="new-event">
		<center><%= f.submit "Save" %> </center><br />
	</div>
<% end -%>

</div>