<ul id="breadcrumb">
	<li class="current"><%= image_tag("blue_1.1.png", :alt => "Interests", :class => "textmiddle", :size => "24x24") %> Select interests</li>
    <li class="<%= breadcrumb >= 2 ? 'current' : 'none' %>">
		<%= image_tag("#{bc_image(breadcrumb, 2, 'blue_2.1.png','2.png')}", :alt => "Channels", :class => "textmiddle", :size => "24x24") %> Choose channels</li>
    <li class="<%= breadcrumb >= 3 ? 'current' : 'none' %>">
		<%= image_tag("#{bc_image(breadcrumb, 3, 'blue_3.1.png','3.png')}", :alt => "Affiliations", :class => "textmiddle", :size => "24x24") %> Select affiliations</li>
    <li class="<%= breadcrumb >= 4 ? 'current' : 'none' %>">Done!</li>
</ul>