<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Summary</th>
    <th>Subscribers</th>
    <th></th>
  </tr>
  <% @channels.each do |channel| %>
    <% unless channel.blank? %>
     <tr>
      <td>
        <div class="pic-size">
	  		<%= render :partial => 'shared/show_photo', :locals => {:model => channel, :file_name => "headshot1.jpg", :psize => '48x48' } %>
		</div>
      </td>
      <td><%= channel.channel_name %></td>
      <td><%= channel.summary %></td>
      <td><center><%= channel.subscriptions.size %></center></td>
	  <td>
	  	<% if subscribed?(channel.channelID)%>
			<%= link_to "Unsubscribe", subscription_url(:id=>get_subscription(channel.subscriptions, channel.channelID), :user_id=>@user, :channel_id =>channel), :id=>'unsub_btn', :method=>:put, :confirm => 'Unsubscribe from this channel?' %>
	  	<% else %>
			<%= link_to "Subscribe", subscriptions_url(:user_id=>@user, :channel_id => channel), :id=>'subscribe_btn', :method=>:post %>
	  	<% end %>
	  </td>
     </tr>
    <% end %>
  <% end %>
</table>
<% if @interest %>
	<%= hidden_field_tag 'interest_id', @interest %>
<% end %>
<div class="nav-right">
  <%= will_paginate @channels, :param_name => 'channel_page' %>
</div>