<div class="chanlist"></div>
<table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
    <th>Subscribers</th>
    <th></th>
  </tr>
  <% @channels.each do |channel| %>
    <% unless channel.blank? %>
     <tr>
      <td><%= channel.channel_name %></td>
      <td><%= channel.summary %></td>
      <td><center><%= channel.subscriptions.size %></center></td>
	  <td>
	  	<% if subscribed?(channel.channelID)%>
			<%= link_to "Unsubscribe", subscription_url(:id=>get_subscription(channel.subscriptions, channel.channelID), :user_id=>@user, :channel_id =>channel.channelID), :id=>'unsub_btn', :method=>:put, :confirm => 'Unsubscribe from this channel?' %>
	  	<% else %>
			<%= link_to "Subscribe", subscriptions_url(:user_id=>@user, :channel_id => channel.channelID), :id=>'subscribe_btn', :method=>:post, :confirm => 'Subscribe to this channel?', :remote=>true %>
	  	<% end %>
	  </td>
     </tr>
    <% end %>
  <% end %>
</table>
<% if @interest %>
	<%= hidden_field_tag 'interest_id', @interest.id %>
<% end %>
<div class="nav-right">
  <%= will_paginate @channels %>
</div>