	<label>Credit Card</label>   
	<div class="prepend-2">  	
		<p><span>Credit Card #* </span><%= text_field_tag :card_number, nil, name: nil, :size => 16 %> <%= image_tag('cc_logos.jpeg', :class=>'cc-logo') %></p>
    	<p><span>Code (CVV)* </span><%= text_field_tag :card_code, nil, name: nil, :maxlength => 4, :size => 4 %> <%= image_tag('cvv.png', :class=>'cvv-logo') %></p>
    	<p><span>Card Expiration* </span>	  
    		<%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
    		<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
  		</p>
  	</div>
