  <div id="menu">
  	<span class="menu-offset <%= main_menu == 'Home' ? 'none' : '' %>" id="titlebar"><%= link_to get_name_or_logo, root_url %></span> 

	<% case main_menu %>		
		<% when "Register" %>
			<div class="span-24 last rpos">
 				<span class="welcomebar"><%= "Welcome to #{get_name_or_logo} #{current_user.username}!" %></span> 
			</div>
		<% when "Home" %>
			<div class="span-24 last rpos">
 				<%= link_to "Login", new_user_session_path, :class => "signin_button round" %>
			</div>
		<% when "User" %>
			<span class="menu-search"><%= text_field_tag 'search', nil, :placeholder => 'Enter search term...' %>
				<%= image_tag("search1.png", :alt => "search", :size => "24x24") %>
				<%= link_to image_tag("ev-add-event.png", :size => "24x24", :class => 'event-add'), new_event_url, :title => "Add Event" %>
			</span>
			<div class="nav-menu"><%= render 'shared/menu_item' %></div>
		<% when "Profile" %>
			<div class="nav-menu"><%= render 'shared/menu_item' %></div>
		<% else %>
			<div class="nav-right"><% main_menu %></div>
	<% end %>
  </div>