  <div id="knnmenu">
  	<span class="menu-offset <%= main_menu == 'Home' ? 'none' : '' %>" id="titlebar"><%= link_to get_name_or_logo, root_url %></span> 

	<% case main_menu %>		
		<% when "Register" %>
			<div class="span-24 last rpos">
 				<span class="welcomebar"><%= "Welcome to #{get_name_or_logo}, #{current_user.first_name}!" %></span> 
			</div>
		<% when "Home" %>
			<div class="span-24 last rpos">
 				<%= link_to "Login", new_user_session_path, :class => "signin_button round" %>
			</div>
		<% when "Event" %>
			<span class="menu-search">
				<%= render :partial => 'shared/search' %>
			</span>
			<div class="nav-menu"><%= render 'shared/menu_item' %></div>
		<% when "PrivateEvent" %>
			<span class="menu-search">
				<%= render :partial => 'shared/search_private_event' %>
			</span>
			<div class="nav-menu"><%= render 'shared/menu_item' %></div>
		<% when "User" %>
			<span class="menu-search">
				<%= render :partial => 'shared/search_user' %>
			</span>
			<div class="nav-menu"><%= render 'shared/menu_item' %></div>
		<% when "Channel" %>
			<span class="menu-search">
				<%= render :partial => 'shared/search_channel' %>
			</span>
			<div class="nav-menu"><%= render 'shared/menu_item' %></div>
		<% when "Profile" %>
			<div class="nav-menu"><%= render 'shared/menu_item' %></div>
		<% else %>
			<div class="nav-right"><% main_menu %></div>
	<% end %>
  </div>