<%# display user menu bar %>
<div class="menu-bkgd">
  <div class="span-24 last" id="menu">
	<div class="span-7 titlebar menu-offset">
		<%= get_name_or_logo %>
	</div>

	<% case main_menu %>
		<% when "Register" %>
			<div class="span-17 last welcomebar">
				<span><%= "Welcome to #{get_name_or_logo} #{current_user.username}!" %></span> 
 			</div> 
		<% when "Home" %>
			<div class="span-17 last">
 				<%= link_to "Sign In",new_user_session_path, :class => "signin_button round" %>
 			</div> 
		<% when "User" %>
			<div class="span-7">
				<%= text_field_tag 'search', nil, :placeholder => 'Enter search term...' %>
				<%= image_tag("search1.png", :alt => "search", :size => "24x24") %>
			</div>
			<div class="span-10 last">
				<%= render 'shared/menu_item' %>
			</div>
		<% else %>
			<div class="span-17 last">
				<% main_menu %>
 			</div> 
	<% end %>
  </div>
</div>
