<ul>
  <li><%= link_to "Home", home_path %></li>
  <li><a href="#">Add</a>
    <ul>
    	<li><%= link_to "Add Activity", new_private_event_url %> </li>
		<li><%= link_to "Add Life Event", new_life_event_url %> </li>
    </ul>
  </li>
  <li><a href="#">Manage</a>
    <ul>
    	<li><%= link_to "My Activities", private_events_url, :class => "manage-item" %></li>
		<li><%= link_to "My Subscriptions", subscriptions_url(:id=>@user) %> </li>
		<li><%= link_to "My Connections", relationships_url(:id=>@user) %> </li>
    </ul>
  </li>
  <li><a href="#">Account</a>
    <ul>
   		<li><%= link_to "Edit Profile", edit_user_path(@user, :p => "Profile") %></li>
   		<li><%= link_to "Sign Out", destroy_user_session_path %></li>
    </ul>
  </li>
</ul>