<div id="pmtForm">
<%= render 'shared/purchase_summary' %>
<div class="mtop span-12 last">	
<h3 class="grp-hdr"><center>Billing Information</center><hr /></h3>
<%= form_for @transaction, :url => transactions_url(:order=>@order), :html => {:id => 'payment_form'}, :remote => true do |f| %>
  <div id="stripe_error" style="display:none" class="error"></div>
  <%= render :partial => 'shared/error_messages', :locals => { :target => @transaction } %>
  <div id="new-event">  
	<label>Buyer Information</label>   
	<div class="prepend-2">
		<p><span>First Name* </span><%= f.text_field :first_name %></p>
		<p><span>Last Name* </span><%= f.text_field :last_name %></p>
		<p><span>Email* </span><%= f.text_field :email %></p>
	</div>
	<label>Billing Address</label> 
	<div class="prepend-2">
  			<%= render :partial => 'shared/user_address', :locals => { :form => f, :toggle => false } %>
  	</div>
  	<%= render :partial => 'mobile/credit_card_info' if @total > 0.0 %>
  </div>
	
  <%= f.hidden_field :token %>
  <%= f.hidden_field :promo_code, :value=>get_promo_code %>
  <%= f.hidden_field :user_id, :value=>@transaction.user_id %>
  <%= f.hidden_field :HostProfileID, :value => @transaction.HostProfileID %>
  <%= f.hidden_field :amt, :value => @total, :id=>'amt' %>
  <%= f.hidden_field :description, :value => @order[:event_name] %>
  <div class="order-btn">
  	<center><%= f.submit "Purchase", :confirm => confirm_msg, :id => 'payForm' %></center>
  </div>
<% end %></div>
</div>
