<div class="<%= controller_name != 'search_private_events' ? 'span-20 last prepend-4' : 'span-24 last' %>">
<table>
  <tr>
    <th></th>
    <th>Event Name</th>
    <th>Overview</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <% (Date.today..Date.today+7.days).each do |edate| %>

   <% for event in parse_list(@results, edate) %>
    <tr>
      <td><%= link_to event.event_name, event_url(event, :etype=>event.event_type, :eid=>event.eventid, :sdt=>event.eventstartdate) %></td>
      <td><%= truncate(event.bbody, :length => 60, :omission => "...") %></td>
      <td><%= get_nice_date(event.eventstartdate,'List') %></td>
      <td><%= get_nice_date(event.eventenddate,'List') %></td>
      <td><%= chk_offset(event.eventstarttime, event.localGMToffset) %></td>
      <td><%= chk_offset(event.eventendtime, event.endGMToffset) %></td>
    </tr>
   <% end %>
  <% end %>
</table>
</div>
<div class="nav-right">
	<%= will_paginate @results %>
</div>
