<div class="show-item">
  <% unless @event.blank? %>
	<%= render :partial => 'shared/show_event_header', :locals => {:event => @event} %>
  	<%= render :partial => 'shared/show_event_details', :locals => {:event => @event}  %>  

	<% if controller_name != 'life_events' %>
	  <% unless @sessions.blank? %>
		<div class="clear-all"></div>
		<p><div id="sess-list"><%= render 'shared/sessions' %></div></p>
	  <% end %>	
	
	  <% unless @presenters.blank? %>
		<div class="clear-all"></div>
		<p><div id="pres-list"><%= render 'shared/presenter_list' %></div></p>
	  <% end %>	
	  
	  <% unless @sponsors.blank? %>
		<div class="clear-all"></div>
		<p><div id="spon-list"><%= render 'shared/sponsor_list' %></div></p>
	  <% end %>	
	  
	  <% unless @exhibitors.blank? %>
		<div class="clear-all"></div>
		<p><div id="ex-list"><%= render 'shared/exhibitor_list' %></div></p>
	  <% end %>		  
	<% end %>
		
 <% end %>
</div>