<% unless has_location?(event) %>
	<div class="span-2"><%= 'Where:' %></div>
	<% if showLocation?(event) %>	
		<div class="span-18 last"><%= event.location  %></div><br />
	<% end %>
	<div class="span-18 last">
		<span class="<%= showLocation?(event) ? 'prepend-2' : 'none' %>"><%= event.mapplacename %></span>
	</div>
	<div class="span-18 last">	
  		<span class="<%= !event.mapplacename.blank? ? 'prepend-2' : 'none' %>"><%= event.mapstreet %></span>
	</div>
<% end %>
<% if !event.mapcity.blank? %>	
	<div class="span-20 last">
		<span class="prepend-2"><%= event.csz %></span>	</div><br />
<% end %>
<% if !event.cbody.blank? %>
	<div class="cbody">
	<div class="span-2"><%= 'Details:' %></div>
	<div class="span-18 last">
		<div class="span-10">
			<span id="edetails"><%= auto_link(event.details).html_safe %><%= link_to ' more...', '#', :id=>'more-btn' if event.cbody.length > 500 %></span>
			<span id='fdetails' style="display: none"><%= auto_link(event.full_details).html_safe %></span>
		</div>
	</div></div>
<% end %>

<% unless has_location?(event) %>
	<%= render :partial => 'shared/load_map_data' %>
	<div id='map_content' class="boxed"><%= render :partial => 'shared/map_index' %></div>
	<%= link_to "Get Directions", "#modal1", :id => "modalGroup", :class=>"map-btn nav-right" %>

	<div id="trvlmode" style="display:none"><div id='modal1'>
		<%= render 'shared/directions' %>
	</div></div>
<% end %>

