<% unless event.mapplacename.blank? && event.mapcity.blank? && event.location.blank? %>
	<div class="span-2"><%= 'Where:' %></div>	
	<div class="span-18 last"><%= event.mapplacename %></div>
	<div class="span-18 last">	
  		<span class="<%= !event.mapplacename.blank? ? 'prepend-2' : 'none' %>"><%= event.mapstreet %></span>
	</div>
<% end %>
<% if !event.mapcity.blank? %>	
	<div class="span-20 last">
		<span class="prepend-2"><%= event.csz %></span>	</div><br />
<% end %>
<% if !event.cbody.blank? %>
	<div class="span-2"><%= 'Details:' %></div>
	<div class="span-18 last"><%= event.cbody.html_safe %></div><br />
<% end %>