<% unless event.mapplacename.blank? && event.mapcity.blank? && event.location.blank? %>
	<div class="span-2"><%= 'Where:' %></div>	
	<div class="span-18 last"><%= event.location if (event.location =~ /http/i).nil? %></div>
	<div class="span-18 last">
		<span class="<%= !event.location.blank? ? 'prepend-2' : 'none' %>"><%= event.mapplacename %></span>
	</div>
	<div class="span-18 last">	
  		<span class="<%= !event.mapplacename.blank? ? 'prepend-2' : 'none' %>"><%= event.mapstreet %></span>
	</div>
<% end %>
<% if !event.mapcity.blank? %>	
	<div class="span-20 last">
		<span class="prepend-2"><%= event.csz %></span>	</div><br />
<% end %>
<div class="span-18 last"><%= link_to 'Host Site & More Event Details...', event.location unless (event.location =~ /http/i).nil? %></div>

<% if !event.cbody.blank? %>
	<div class="span-2"><%= 'Details:' %></div>
	<div class="span-18 last"><%= auto_link(event.cbody.gsub("\\n","<br />")).html_safe %></div><br />
<% end %>