<div id="buyTxtForm" class="span-12">
<h3 class="grp-hdr"><center>Select Items</center><hr /></h3>
<div id="buyFormError" style="display:none" class="error"></div>
<%= form_tag build_transactions_path(:id=>event, :eid=>event.eventid, :sdt=>event.eventstartdate, :etype=>event.event_type), :method => :get, :remote=>true, :id => 'purchase_btn' do %> 
<table>
   <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  
  <% if any_prices?(event) %>
    <% @cnt = 0 %> 
  	<% [['MemberFee', 'Member'], ['NonMemberFee', 'General'], ['AffiliateFee', 'Affiliate'],
      ['SpouseFee', 'Spouse'], ['AtDoorFee', 'At Door'], ['GroupFee', 'Group']].each do |fld| %>
        <% if price_exists?(event, fld[0] ) %>
        	<%= render :partial => 'shared/ticket_row', :locals => {:event => event, :target => fld[0], :fname => fld[1], :useFldName => true }%>
        <% end %>
    <% end %>
  	<% (1..6).each do |i| %>
    	<% if price_exists?(event, 'Other' + i.to_s + 'Fee' ) %>
        	<%= render :partial => 'shared/ticket_row', :locals => {:event => event, :target => 'Other' + i.to_s + 'Fee', :fname => 'Other' + i.to_s + 'Title', :useFldName => false }%>
    	<% end %>
  	<% end %>
  <% end %>  
</table>

	<%= hidden_field_tag 'event_name', event.event_name %>
	<%= hidden_field_tag 'cnt', @cnt %>
	<%= hidden_field_tag 'qtyCnt', @qtyCnt %>
	<div class="order-btn">
	<center><%= submit_tag("Buy Now") %></center></div>
</div>
<% end %>
