<div class="left-sidebar"> 
	<div id="quotes" class="sborder">
		<%= render 'shared/quote' %>
	</div>
 	<div class="box">   
        <div class="quiet">
			<center><%= image_tag("#{showphoto(@user.gender)}", :alt => "photo", :size => "60x60") %></center> 
            <center><%= "#{@user.first_name} #{@user.last_name}" %><br />
			<%= link_to "Edit Profile", edit_user_path(@user, {:p => "Profile"}) %></center>
        </div>     </div>
     <div class="sborder">
     	<%= render 'shared/progress_meter' %>
     </div> 	
</div>  

