<div class="left-sidebar"> 
	<div id="quotes" class="sborder">
		<%= render 'shared/quote' %>
	</div>
 	<div class="box">   
        <div class="quiet">
        	<center>
        		<%= render :partial => 'shared/show_photo', :locals => {:model=>@host_profile, :psize=>"80x80", :file_name=>"#{showphoto(@user.gender)}"}%>
        	</center>
            <center><%= "#{@user.first_name} #{@user.last_name}" %><br />
			<%= link_to "Edit Profile", edit_user_path(@user, {:p => "Profile"}) %></center>
        </div>     </div>
     <div class="sborder">
     	<%= render 'shared/progress_meter' %>
     </div> 	
</div>  

