<%= image_tag("rsz_alarm2_blk.png", :class => "action-img rsz-img")%>   	
<%= image_tag("rsz_dining_blk.png", :class => "etype-img rsz-img") %>   	
<div class="img-btm">
	<%= link_to image_tag("rsz_move_blk2.png", :class => " rsz-img"), move_event_url(event), :remote => true %> 
	<%= link_to image_tag("rsz_share_blk.png", :class => " rsz-img"), share_event_url(event), :remote => true %> 
	<%= link_to image_tag("rsz_shout_blk.png", :class => " rsz-img"), notify_event_url(event), :remote => true %> 
	<%= link_to image_tag("rsz_like_blk.png", :class => " rsz-img"), like_event_url(event), :remote => true %> 
	<%= link_to image_tag("rsz_sale_blk.png", :class => " rsz-img"), offer_event_url(event), :remote => true %> 
	<%= link_to image_tag("rsz_cash_blk.png", :class => " rsz-img"), purchase_event_url(event), :remote => true %> 
	<%= link_to image_tag("rsz_rsvp_blk.png", :class => " rsz-img"), rsvp_event_url(event), :remote => true %> 
</div>