<li>
  <section class="sborder">
  	<div id="elist">
		<div class="calendar"> 
    		<span class="month"><%= show_date(event.eventstartdate, edate).strftime("%b") %></span>
    		<span class="day"><%= show_date(event.eventstartdate, edate).strftime("%e") %></span>
		</div>
		<% unless holiday?(event.event_type) %>
 			<div class="slider-time"><%= chk_offset(event.eventendtime, event.endGMToffset, event.ssurl) %></div>
			<div class="slider-stime"><%= chk_offset(event.eventstarttime, event.localGMToffset, event.ssurl) %></div>
    		<div class="eid" data-eid="<%= event.id %>"></div>
    		<div class="etype" data-etype="<%= event.event_type %>"></div>
    		<div class="sdt" data-sdt="<%= event.start_date %>"></div> 
		<% end %>
 		<div class="slider-title">
			<h1>
  			<% unless major_event?(event.event_type) %>
			  	<%= link_to event.event_name, event_url(event, :etype=>event.event_type, :eid=>event.eventid, :sdt=>event.eventstartdate), :class => "show-item" %>
			<% else %>
			  	<%= link_to event.event_name, major_event_url(event, :etype=>event.event_type, :eid=>event.eventid, :sdt=>event.eventstartdate), :class => "show-item" %>
			<% end %>
			</h1><br />
		</div>
		<div class="slider-descr">
			<%= raw truncate(event.bbody, :length => 100, :omission =>"…") %><br />
		</div>
		<%= render :partial => 'event_action_items', :locals => { :event => event, :slider => slider } %>		
	</div>
  </section>
</li>