<%= render 'showtime' %>
<table>
	<% @events.each do |event| %>
	  <tr>
    	 <td><%= event.start_date.strftime("%D") %> - <%= event.end_date.strftime("%D") %><br /> 
     	  	 <%= event.start_time.strftime("%I:%M %p") %> - <%= event.end_time.strftime("%I:%M %p") %></td>
   	 	 <td><%= link_to event.title, edit_event_path(event) %></td>
   		 <td><%= link_to 'Share', event %></td>
  	 </tr>
    <% end %>
 </table>     