<!-- display event time if not an observance event -->
<center><h3><%= "Manage Activities" %></h3></center>
<hr />

<% @events.each do |event| %>
	<div class="span-4"> 
		<%= get_start_date(event.start_date, event.end_date, "List") %><br />
 		<%= " #{event.start_time.strftime("%l:%M %p")} - #{event.end_time.strftime("%l:%M %p")}" %>			
	</div>
	<div class="span-2" id="new-event">
		<%= image_tag event.photo.url(), :alt => "none", :size => "30x30" %>
	</div>
	<div class="span-10">
		<%= link_to event.title, event_path(event) %>
	</div>
	<div class="span-2">
 		<%= link_to 'Edit', edit_event_path(event) %>
	</div>
	<div class="span-2">
 		<%= link_to 'Clone',  :controller => "events", :action => "clone", :id => event %>
	</div>
	<div class="span-2 last">
    	<p><%= link_to "Delete", event, :confirm => 'Are you sure?', :method => :delete %></p>
	</div> 
<% end %>
