<% if !is_past?(event) %>
<li>
  <section class="sborder">
  	<div id="elist">
		<div class="calendar"> 
    		<span class="month"><%= show_date(event.eventstartdate).strftime("%b") %></span>
    		<span class="day"><%= show_date(event.eventstartdate).strftime("%e") %></span>
		</div>
		<% if !holiday?(event.event_type) %>
 			<div class="slider-time"><%= chk_offset(event.eventendtime, event.endGMToffset, event.contentsourceID) %></div>
			<div class="slider-stime"><%= chk_offset(event.eventstarttime, event.localGMToffset, event.contentsourceID) %></div>
		<% end %>
 		<div class="slider-title">
			<h1><%= link_to event.event_name, event_url(event), :class => "show-item" %></h1><br />
		</div>
		<div class="slider-descr">
			<%= raw truncate(event.bbody, :length => 100, :omission =>"…") %><br />
		</div>
		<%= render :partial => 'event_action_items', :locals => { :event => event, :slider => slider } %>		
	</div>
  </section>
</li>
<% end %>

