<%= image_tag("face-plain.png", :class => "action-img rsz-img")%>   	
<%= image_tag("#{get_etype_icon(event.event_type)}", :class => "etype-img rsz-img") %>   	
<div class="img-btm">
	<% if !life_event?(event.event_type) && !private_event?(event.event_type) %>
		<%= link_to image_tag("ev-move.png", :class => " rsz-img"), private_events_url(:id=>event, :etype=>event.event_type, :eid=>event.eventid, :sdate=>event.eventstartdate), 
				:id=>'schedule_btn' , :confirm => 'Add to your schedule?', :title => "Schedule", :method => :post, :remote => true %>
	<% else %>	
	<% end %>
	
	<% if rsvp?(event.rsvp) %>
		<% if private_event?(event.event_type) %>			
			<%= link_to image_tag("ev-rsvp.png", :class => "rsz-img"), rsvp_url(:id=>event.eventid, :eid=>event, :etype=>event.event_type), :title => "RSVP" %>
		<% else %>
			<%= link_to image_tag("ev-rsvp.png", :class => "rsz-img"), new_rsvp_url(:eid=>event, :etype=>event.event_type), :title => "RSVP" %>		
		<% end %>
	<% end %>
</div>