<%= image_tag("face-plain.png", :class => "action-img rsz-img")%>   	
<%= image_tag("#{get_etype_icon(@etypes, event.event_type)}", :class => "etype-img rsz-img") %>   	
<div class="img-btm">
	<% if (slider =~ /Observances/i).nil? %>
		<%= link_to image_tag("ev-move.png", :class => " rsz-img"), :title => "Move", :remote => true %> 
		<%= link_to image_tag("ev-like.png", :class => " rsz-img"), :title => "Recommend", :remote => true %> 
	<% end %>
	<%= link_to image_tag("ev-notify.png", :class => " rsz-img"), :title => "Notify", :remote => true %> 
	<%= link_to image_tag("ev-share.png", :class => " rsz-img"),  :title => "Share", :remote => true %> 
	<% if chk_event_type(event.event_type, 'Shop') %>
		<%= link_to image_tag("ev-coupon.png", :class => " rsz-img"), :title => "Offer", :remote => true %> 
		<%= link_to image_tag("ev-shop.png", :class => " rsz-img"), :title => "Buy Now",  :remote => true %> 
	<% end %>
	<% if rsvp?(event.rsvp) %>
		<%= link_to image_tag("ev-rsvp.png", :class => " rsz-img"), :title => "RSVP", :remote => true %> 
	<% end %>
</div>