<div class="span-21 last prepend-5" id="flash_notice">
	<div id="event_errors" style="display:none" class="error"></div>
</div>
<% if observances? %>
	<div class="span-22 last prepend-4">
	<%= render :partial => 'shared/oblist', :collection => get_events("Observances"), :as => :event %>
	</div><br />
	<div class="clear-all"></div>
<% end %>
<div id="sch-slider">
	<%= render :partial => 'slider', :locals => { :slider => "Scheduled Activities" } %>
</div>
<% if subscriptions? %>
	<%= render :partial => 'slider', :locals => { :slider => "Tracked Activities" }  %>
<% end %>
<%= cache "events", :expires_in => 30.minutes do %>
	<div class="bot-20"><%= render :partial => 'slider', :locals => { :slider => "Suggested Opportunities" } %></div>
<% end %>
