<li>
  <section class="sborder">
  	<div id="elist">
		<div class="calendar"> 
    		<span class="month"><%= show_date(event.start_date).strftime("%b") %></span>
    		<span class="day"><%= show_date(event.start_date).strftime("%e") %></span>
		</div>
 		<div class="slider-time"><%= "#{event.end_time.strftime("%l:%M %p")}" %></div>
		<div class="slider-stime"><%= "#{event.start_time.strftime("%l:%M %p")}" %></div>
 		<div class="slider-title">
			<h1><%= link_to event.title, event, :class => "show-item" %></h1><br />
		</div>
		<div class="slider-descr">
			<%= truncate(event.description, :length => 80, :omission =>"…") %><br />
		</div>
		<%= render :partial => 'event_action_items', :locals => { :event => event } %>		
	</div>
  </section>
</li>

