<!-- main form for events -->
<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'User' } %>

<% content_for :left_sidebar do -%>
	<% if set_panel %>
		<div id="user_panel"><%= render set_panel %></div>
	<% end %>
<% end -%>

<% content_for :content do -%>
	<%= render 'content' %>
<% end -%>
   
<% content_for :right_sidebar do -%>
	<div id="ad_panel"><%= render 'shared/ad_panel' %></div> 
<% end -%>

<% content_for :footer do %>
	<%= render 'layouts/footer' %>
<% end %>
