<% get_events(slider, edate).each do |ev| %>
<li class="placehdr">
  <section class="sborder">
  	<div id="elist">
  		<%= link_to private_events_url(:sdate=>ev[:start_date]) do %>
		<div class="calendar"> 
    		<span class="month"><%= ev[:start_date].strftime("%b") %></span>
    		<span class="day"><%= ev[:start_date].strftime("%e") %></span>
		</div>
		<% end %>		
		<div class="slider-title"><h1>
		<% get_event_list(ev[:start_date]).each do |event| %>
			<%= chk_offset(event.eventstarttime, event.localGMToffset, event.contentsourceURL) %>
  			<% unless major_event?(event.event_type) %>
			  	<%= link_to event.event_name, event_url(event, :etype=>event.event_type, :eid=>event.eventid, :sdt=>event.eventstartdate), :class => "show-item" %>
			<% else %>
			  	<%= link_to event.event_name, major_event_url(event, :etype=>event.event_type, :eid=>event.eventid, :sdt=>event.eventstartdate), :class => "show-item" %>
			<% end %>
			<br />
		<% end %>
		</h1></div>
	</div>
  </section>
</li>
<% end %>
