<li>
  <%= link_to event_url(event, {:slider => @slider}) do %>
	<div class="calendar">
   		<span class="month"><%= show_date(event.eventstartdate).strftime("%b") %></span>
    	<span class="day"><%= show_date(event.eventstartdate).strftime("%e") %></span>
	</div>
 	<div class="slider-title">
		<h5><%= event.event_title %></h5><br />
	</div>
	<div class="sl-descr">
		<span class="sdescr"><%= raw truncate(event.bbody, :length => 30, :omission =>"…") %></span><br />
		<% unless holiday?(event.event_type) %>
		<p class="show-time">
			<%= chk_offset(event.eventstarttime, event.localGMToffset) %> - 
			<%= chk_offset(event.eventendtime, event.endGMToffset) %>
		</p>
		<% end %>
	</div>
  <% end %>
</li>
