<% @calendar.Items.each do |appointment|%>
   <p><%= appointment.Subject %>
    <%= appointment.Location %>
    <%= appointment.Start %>
    <%= appointment.Duration %>
    <%= appointment.End %>
    <%= appointment.Body %></p> 
<% end %> 