<p><span class="prepend-6 event-title"><%= @event.title %></span></p>
<div class="span-4"><%= image_tag "#{get_image()}", :alt => "none", :size => "125x125" %></div>
<div class="span-2"><%= 'Date:' %></div>
<div class="span-18 last">	<%= get_start_date(@event.start_date, @event.end_date, "Show") %><br /></div>	
<div class="span-2"><%= 'Time:'%></div>
<div class="span-18 last"><%= " #{@event.start_time.strftime("%l:%M %p")} - #{@event.end_time.strftime("%l:%M %p")}" %></div>

<%= render :partial => 'show_event_location' %>
<%= render :partial => 'show_event_contact' %>
	
<!-- display google map --> 
<% content_for :scripts do -%>
   	<div class="span-24 last " id="gmaps" style="display:none"><%= gmaps4rails(@json) %></div>
<% end -%> 