<%= render :partial => 'mobile/index_form', :locals => {:title => "#{get_name_or_logo}"} %>

<%= content_for :srch_content do %>
	<div class="evsearch" style="display:none">
		<%= render :partial => 'mobile/event_search' %>
	</div>
	<div class="evloc" style="display:none">
		<%= render :partial => 'mobile/locations' %>
	</div>
<% end %>

<%= content_for :content do %>
  <div id="events">
	<%= render 'mobile/index' %>
  </div>
<% end -%>

<%= content_for :footer do %>
	<%= render :partial => 'mobile/home_page_footer' %> 
<% end %>
