<% content_for :head do %>
  	<%= link_to 'Home', home_user_path, "class"=>"ui-btn-left" %>
<% end %>

<% content_for :content do %>
  <h3 class="center-wrapper">Add Event</h3>
  <%= form_for @event do |f| %>
	<span>Event Title </span><br /><%= f.text_field :event_title, :size => 40 %>
	<span>Frequency </span><br /><%= f.collection_select :reoccurrencetype, ReoccurrenceType.all, :code, :description, :prompt => 'Select' %>
	<span>Event Type </span><br /><%= f.collection_select :event_type, EventType.all, :Code, :Description, :prompt => 'Select' %>
	<span>Start Date </span><br /><%= f.text_field :eventstartdate, :size => 10, :id => "start-date" %> 
	<span>Start Time </span><br /><%= f.text_field :eventstarttime, :value => chk_time(@event.eventstarttime), :id => "start-time", :size => 10 %> 
	<span>Start Time Zone </span><br /><%= f.collection_select :localGMToffset, GMTTimezone.all, :code, :description, :prompt => 'Select' %>
	<span>End Date </span><br /><%= f.text_field :eventenddate, :size => 10, :id => "end-date" %> 
	<span>End Time </span><br /><%= f.text_field :eventendtime, :value => chk_time(@event.eventendtime), :id => "end-time", :size => 10 %> 
	<span>End Time Zone </span><br /> <%= f.collection_select :endGMToffset, GMTTimezone.all, :code, :description, :prompt => 'Select' %>
	<span>Place </span><br /> <%= f.text_field :mapplacename, :size => 60 %>
	<span>Street </span><br /> <%= f.text_field :mapstreet, :size => 60 %>
	<span>City </span><br /> <%= f.text_field :mapcity, :size => 25 %>
	<span>State </span><br /> <%= f.collection_select :mapstate, StateCode.all, :StateAbbr, :State, :prompt => 'Select' %>
	<span>Zip </span><br /> <%= f.text_field :mapzip, :size => 10 %>
	<span>Country </span><br /> <%= f.country_select :mapcountry, ["United States"] %>

	<%= f.submit "Save Event", "data-theme"=>"b" %>
  <% end %>
<% end %>
