<% content_for :pre_mobile_load do %>
	<%= render :partial => 'shared/pre_load' %>
<% end %>

<% content_for :head do %>
  	<%= link_to 'Home', home_user_path, "class"=>"ui-btn-left" %>
<% end -%>

<% content_for :content do %>
<div id="show-item">
  <h3 class="center-wrapper"><%= @event.event_title %></h3>
  <label>Date: </label><span class="item-detail"><%= get_start_date(@event.eventstartdate, @event.eventenddate, "Show") %></span><br />	
  <label>Time: </label> 
 
  <span class="item-detail">
  	<% if holiday?(@event.event_type) %>
		<%= "All Day" %>
  	<% else %>
		<%= " #{chk_offset(@event.eventstarttime, @event.localGMToffset, @event.contentsourceID)} 
			- #{chk_offset(@event.eventendtime, @event.endGMToffset, @event.contentsourceID)}" %>
  	<% end %>
  </span><br />
	  
  <%= render :partial => 'show_event_contact' %>
  <%= render :partial => 'show_event_location' %> 
</div>
<% end %>

<% content_for :footer do %>
  <% unless holiday?(@event.event_type) %>
	<div data-role="navbar" class="nav-glyphish" data-grid="d">
	<ul>
		<% if !(@slider =~ /Upcoming/i).nil? %>
			<li><%= link_to "Move", move_event_url(@event, {:end_date => @enddate}), "data-icon"=>"custom", 'data-method' => 'post', "rel"=>"external", :id => "move", :remote => true %> </li>
			<li><%= link_to "Like", like_event_url(@event), "data-icon"=>"custom", :id => "like", :remote => true %> </li>
		<% else %>
			<li><%= link_to "Edit", edit_event_url(@event), "data-icon"=>"custom", :id => "edit" %> </li>
			<li><%= link_to "Delete", @event, "data-icon"=>"custom", 'data-method' => 'delete', :id => "delete" %> </li>
		<% end %>
		<li><%= link_to "Notify", notify_event_url(@event), "data-icon"=>"custom", :id => "notify", :remote => true %> </li>
		<li><%= link_to "Share", share_event_url(@event), "data-icon"=>"custom", :id => "share", :remote => true %> </li>
		<li><%= link_to "RSVP", rsvp_event_url(@event), "data-icon"=>"custom", :id => "rsvp", :remote => true %> </li>
	</ul>
	</div>
  <% end %>
<% end %>


