<%= set_title("Sponsor Details") %>
<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'User' } %>

<%= content_for :content do -%>
  <div class="span-24 last" >  
  	<center><h3 class="grp-hdr">Sponsor Details</h3></center><hr />
	<div class="span-4">
		<%= render :partial => 'shared/show_photo', :locals => {:model => @sponsor, :file_name => "headshot1.jpg", :psize => '120x120' } %>
	</div>
	<%= render 'shared/show_sponsor' %>
  </div>
<% end -%>
