<%= content_for :pre_mobile_load do %>
	<%= render 'shared/pre_load' %>
<% end %>

<%= content_for :title do %>
  	<title><%= "#{get_name_or_logo}" %></title>
<% end -%>

<%= content_for :head do %>
<% end -%>

<%= content_for :content do %>
  <div class="center-wrapper">
	<p><%= image_tag("koncierge.png", :class =>"logo") %></p><br />
  	<h3>Scheduling. At Your Service.</h3>
  	<p>A smarter way to plan, discover and schedule events near you.</p><br />
 
	<ul data-role="listview">
		<li><%= link_to "Browse by Channels", events_url(@user, {:slider => 'Observances'}) %></li>
		<li data-role="list-divider">View</li>
		<li><%= link_to "My Schedule", events_url(@user, {:slider => 'My Schedule'}) %></li>
		<li><%= link_to "Upcoming Events", events_url(@user, {:slider => 'Upcoming Events'}) %></li>
	 	<li><%= link_to "About #{get_name_or_logo}", metrics_url(@user) %> </li>
	 	<li><%= link_to "Contact", metrics_url(@user) %> </li>
	</ul> 
  </div>
<% end -%>

<%= content_for :footer do %>
	<%= render 'layouts/footer' %>
<% end %>

