<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Register' } %>

<% content_for :subhead do %>
  <%= render :partial => 'shared/breadcrumb', :locals => { :breadcrumb => 1 } %>
<% end %>
	
<% content_for :content do %>
	<h3 class="strong">Select Your Interests</h3>
	Personalize your content by selecting the topics you are interested in being kept aware of.

	<%= form_for @interest do |f| %>
		<%= render :partial => 'form' %>
		<%= f.submit 'Continue >>', :class => "nav-right" %><br />
  	<% end %>
<% end %>

<% content_for :right_sidebar do %>
		<%= render 'shared/right_gauge_sidebar' %>
<% end %>
