<%= set_title("Add Affiliations") %>
<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Register' } %>

<% content_for :subhead do %>
  <%= render :partial => 'shared/breadcrumb', :locals => { :breadcrumb => 2 } %>
<% end %>

<% content_for :content do %>
	<h3 class="strong">Enter Your Affiliations</h3><p>Entering your work and social affiliations helps 
	keep you informed of their upcoming events and activities.</p> 

	<%= render :partial => 'form' %>
<% end %>

<% content_for :right_sidebar do %>
	<%= render 'shared/right_gauge_sidebar' %>
<% end %>
