<%= content_for :pre_mobile_load do %>
  	<%= render 'mobile/pre_load' %>
<% end %>

<%= content_for :head do %>
<% end %>

<%= content_for :content do %>
	<div class="mtop center-wrapper">
		<h3>Add Event</h3>
		<p>Is this a life event(i.e. birthday, graduation)?</p>
		<%= link_to "Yes", new_observance_event_url, "data-role"=>"button" %>
		<%= link_to "No", new_private_event_url, "data-role"=>"button" %>
	</div>
<% end %>
