<%= render :partial => 'mobile/index_form', :locals => {:title => 'Select Channels'} %>

<% content_for :srch_content do %>
	<%= render :partial => 'mobile/channel_search' %>
<% end %>

<% content_for :subhead do %>
	<%= render :partial => 'mobile/locations' %>
	<%= render :partial => 'mobile/catlist' %>
<% end %>

<% content_for :content do %>
  <div id="wrapper">
	<div id="scroller" class="channelList">
		<%= render :partial => 'mobile/channels' %>
	</div>
  </div>
<% end %>