<%= render :partial => 'mobile/index_form', :locals => {:title => 'Select Channels'} %>

<%= content_for :srch_content do %>
<% end %>

<%= content_for :subhead do %>
	<div class="evsearch" style="display:none">
		<%= render :partial => 'mobile/channel_search' %>
	</div>
	<%= render :partial => 'mobile/locations' %>
	<%= render :partial => 'mobile/catlist' %>
<% end %>

<%= content_for :content do %>
  <div id="wrapper">
	<div id="scroller" class="channelList">
		<%= render :partial => 'mobile/channels' %>
	</div>
  </div>
<% end %>

<%= content_for :footer do %>
	<%= render :partial => 'mobile/page_footer', :locals => {:sflg => true} %> 
<% end %>