<li>
  <% if major_event?(event.event_type) %>
    <%= link_to major_event_url(event) do %>
	  	<%= render :partial => 'mobile/event', :locals => { :event => event } %>
    <% end %>  
  <% elsif life_event?(event.event_type) %>
    <%= link_to life_event_url(event) do %>
	  	<%= render :partial => 'mobile/event', :locals => { :event => event  } %>
    <% end %>
  <% elsif private_event?(event.event_type) %>  
    <%= link_to private_event_url(event) do %>
	  	<%= render :partial => 'mobile/event', :locals => { :event => event  } %>
    <% end %>
  <% else %>
    <%= link_to event_url(event, :etype=>event.event_type) do %>
	  	<%= render :partial => 'mobile/event', :locals => { :event => event  } %>
    <% end %>
  <% end %>
</li>
