<tr class="ev-loc" style="display:none"><td>Place </td><td><%= f.text_field :mapplacename %></td></tr>
<tr class="ev-loc" style="display:none"><td>Street </td><td><%= f.text_field :mapstreet %></td></tr>
<tr class="ev-loc" style="display:none"><td>City </td><td><%= f.text_field :mapcity %></td></tr>
<tr class="ev-loc" style="display:none"><td>State/Prov</td>
	<td><%= f.collection_select :mapstate, StateCode.all, :StateAbbr, :State, {:prompt => 'Select State'} %></td>
</tr>
<tr class="ev-loc" style="display:none"><td>Zip </td><td><%= f.text_field :mapzip, :size => 10 %></td></tr>
<tr class="ev-loc" style="display:none"><td>Country </td><td><%= f.country_select :mapcountry, ["United States"] %></td></tr>

