<p><label>Place </label><%= f.text_field :mapplacename, :size => 60 %></p>
<p><label>Street </label> <%= f.text_field :mapstreet, :size => 60 %></p>
<p><label>City </label> <%= f.text_field :mapcity, :size => 25 %></p>
<p><label>State </label> <%= f.collection_select :mapstate, StateCode.all, :StateAbbr, :State, :prompt => 'Select State' %></p>
<p><label>Zip </label> <%= f.text_field :mapzip, :size => 10 %></p>
<p><label>Country </label> <%= f.country_select :mapcountry, ["United States"] %></p>
