  <tr><td>Start Date</td><td>
		<%= f.text_field :eventstartdate, {:value => get_nice_date(@event.eventstartdate, 'Edit'), :size=>15, :type => 'date', :id=>'start-dt', :class=>'dt-border', 'data-role'=>"datebox", 
		'data-options'=>'{"mode": "calbox", "dateFormat": "mm/dd/YYYY", "minDays": 0, "closeCallback":"dooffset();"}'} %>					
  </td></tr>
  <div id="stime" style="<%= celebration?(@event.event_type) ? 'display:none' : '' %>">  	                             
	<tr><td>Start Time</td><td>
	<%= f.text_field :eventstarttime, {:value => get_nice_time(@event.eventstarttime), :size=>15, :id=>'start-tm', 'data-role'=>"datebox", 
		'data-options'=>'{"mode": "timebox", "timeFormat": "12"}'} %>
	</td></tr>	
	<tr><td>Time Zone </td><td>
	<%= f.collection_select :localGMToffset, GmtTimezone.all, :code, :description, {:selected => set_offset(@event.localGMToffset)}, {} %>
	</td></tr>	
  </div>

<div class="ptop" style="<%= celebration?(@event.event_type) ? 'display:none' : '' %>" id='enddt'>
  	<tr><td>End Date</td><td>
	<%= f.text_field :eventenddate, {:value => get_nice_date(@event.eventenddate, 'Edit'), :size=>15, :type => 'date', :id=>'end-dt', 'data-role'=>"datebox", 
		'data-options'=>'{"mode": "calbox", "dateFormat": "mm/dd/YYYY", "minDays": 0}'} %></td>
	</tr>
	<tr><td>End Time</td><td>
	<%= f.text_field :eventendtime, {:value => get_nice_time(@event.eventendtime), :size=>15, :id=>'end-tm', 'data-role'=>"datebox", 
		'data-options'=>'{"mode": "timebox", "timeFormat": "12"}'} %></td></tr>
	<tr><td>Time Zone</td><td>
  	<%= f.collection_select :endGMToffset, GmtTimezone.all, :code, :description, {:selected => set_offset(@event.endGMToffset)}, {} %>
	</td></tr>
</div>
