	<div data-role="fieldcontain"> 
      <fieldset data-role="controlgroup"> 
		<% if etype == 'event' %>
		Frequency:
			<%= f.collection_select :reoccurrencetype, ReoccurrenceType.all, :code, :descr_title, {:selected => 'O'}, :prompt => 'Select Frequency' %>
		<% elsif etype == 'life' %>
     		<%= f.check_box :annualsamedate, {:id => "freq"}, "yes", "no" %>
			<label for="freq">Annual</label>
		<% else %>
		<% end %>
      </fieldset> 
      <fieldset data-role="controlgroup" data-mini="true"> 
		Share with:
     	<%= f.check_box :allowPrivCircle, {:id => "allowPriv"}, "yes", "no" %>
		<label for="allowPriv">My Family</label>
     	<%= f.check_box :allowSocCircle, {:id => "allowSoc"}, "yes", "no" %>
		<label for="allowSoc">My Friends</label>
     	<%= f.check_box :allowWorldCircle, {:id => "allowWorld"}, "yes", "no" %>
		<label for="allowWorld">My World</label>
      </fieldset>   

      <% if controller_name == 'life_events' %> 
        <fieldset data-role="controlgroup" data-mini="true"> 
			Show:
     		<%= f.check_box :ShowPrivCircle, {:id => "showPriv"}, "yes", "no" %>
			<label for="showPriv">My Family</label>
     		<%= f.check_box :ShowSocCircle, {:id => "showSoc"},  "yes",  "no" %>
			<label for="showSoc">My Friends</label>
     		<%= f.check_box :ShowWorldCircle, {:id => "showWorld"}, "yes", "no" %>
			<label for="showWorld">My World</label>
        </fieldset>        
      <% end %>
    </div> 	
