	<div data-role="fieldcontain"> 
      <fieldset data-role="controlgroup"> 
		<% if etype == 'event' %>
			<%= f.collection_select :reoccurrencetype, ReoccurrenceType.all, :code, :descr_title, :prompt => 'Select Frequency' %>
		<% else %>
     		<%= f.check_box :annualsamedate, {:id => "freq"}, "yes", "no" %>
			<label for="freq">Annual</label>
		<% end %>
      </fieldset> 
      
      <fieldset data-role="controlgroup"> 
		Allow:
     	<%= f.check_box :allowPrivCircle, {:id => "allowPriv"}, "yes", "no" %>
		<label for="allowPriv">Private Sphere</label>
     	<%= f.check_box :allowSocCircle, {:id => "allowSoc"}, "yes", "no" %>
		<label for="allowSoc">Social Sphere</label>
     	<%= f.check_box :allowWorldCircle, {:id => "allowWorld"}, "yes", "no" %>
		<label for="allowWorld">World Sphere</label>
      </fieldset>   

      <% if etype == 'life' %> 
        <fieldset data-role="controlgroup"> 
			Show:
     		<%= f.check_box :ShowPrivCircle, {:id => "showPriv"}, "yes", "no" %>
			<label for="showPriv">Private Sphere</label>
     		<%= f.check_box :ShowSocCircle, {:id => "showSoc"},  "yes",  "no" %>
			<label for="showSoc">Social Sphere</label>
     		<%= f.check_box :ShowWorldCircle, {:id => "showWorld"}, "yes", "no" %>
			<label for="showWorld">World Sphere</label>
        </fieldset>        
      <% end %>
    </div> 	
