	<div data-role="fieldcontain"> 
      <fieldset data-role="controlgroup"> 
		<% if etype == 'event' %>
			<label>Frequency:</label><%= f.collection_select :reoccurrencetype, ReoccurrenceType.all, :code, :descr_title, {:prompt => true}, { :id=>'reoccur-type',  'data-mini'=>"true"} %>
		<% elsif etype == 'life' %>
     		<%= f.check_box :annualsamedate, {:id => "annualflg"}, "yes", "no" %>
			<label for="annualflg">Annual</label>
		<% else %>
		<% end %>
      </fieldset> 
	</div>
	<% if etype == 'event' %>
	  <div id="reoccur" style="<%= reoccurring?(@event) ? '' : 'display:none' %>" class='ptop'>
		<label for='reoccur-dt'>Reoccurrence End Date:</label>
		<%= f.text_field :reoccurrenceenddate, {:value => get_nice_date(@event.reoccurrenceenddate, 'Edit'), :size=>15, :type => 'date', :id=>'reoccur-dt', 'data-mini'=>"true", 'data-role'=>"datebox", 
					'data-options'=>'{"mode": "calbox", "dateFormat": "mm/dd/YYYY", "minDays": 0}'} %>
	  </div>
	<% end %>

	<div data-role="fieldcontain"> 
      <div class="mtop"></div>
      <fieldset data-role="controlgroup"> 
		<label>Share with:</label> 
     	<%= f.check_box :allowPrivCircle, {:id => "allowPriv"}, "yes", "no" %>
		<label for="allowPriv">My Family</label>
     	<%= f.check_box :allowSocCircle, {:id => "allowSoc"}, "yes", "no" %>
		<label for="allowSoc">My Friends</label>
     	<%= f.check_box :allowWorldCircle, {:id => "allowWorld"}, "yes", "no" %>
		<label for="allowWorld">My World</label>
      </fieldset>   

      <% if controller_name == 'life_events' %> 
        <fieldset data-role="controlgroup"> 
			<label>Show:</label> 
     		<%= f.check_box :ShowPrivCircle, {:id => "showPriv"}, "yes", "no" %>
			<label for="showPriv">My Family</label>
     		<%= f.check_box :ShowSocCircle, {:id => "showSoc"},  "yes",  "no" %>
			<label for="showSoc">My Friends</label>
     		<%= f.check_box :ShowWorldCircle, {:id => "showWorld"}, "yes", "no" %>
			<label for="showWorld">My World</label>
        </fieldset>        
      <% end %>
      <div class="ptop">
      	<%= render :partial => 'mobile/share_fb_user', :locals => {:f => f} %>
      </div>
    </div> 	
