  <ul data-role="listview" data-filter="true" class="sponsorList">
  	<% for exhibitor in @exhibitors.uniq %>
	<li id="plist">
		<%= link_to exhibitor_url(exhibitor, {:event_id=>@event, :etype=>@event.event_type, :eid=>@event.eventid, :sdt=>@event.eventstartdate}) do %>
		  <%= render :partial => 'mobile/show_photo', :locals => {:model => exhibitor, :vtype => 'ppic', :file_name => 'schedule1.jpg', :psize=>'80x80' }%>

   		  <div class="pstr">
		  	<h6><%= exhibitor.name %></h6>
		  </div>
		  <p><%= exhibitor.details %></p>
		  <p class="ptitle"><%= exhibitor.location %></p>		  
		<% end %>
	</li>
	<% end %>
  </ul>
