<%= render :partial => 'mobile/index_form', :locals => {:title => 'Manage Account'} %>

<% content_for :content do %>
	<div class="mtop center-wrapper">	<p><%= render :partial => 'mobile/show_photo', :locals => {:model=>@user.profile, :vtype=>"ppic",:file_name => 'headshot2.jpg', :psize => '80x80' }%>
		<h3><%= @user.name %></h3></p><br />
	</div>	<ul data-role="listview" data-dividertheme="a" data-mini="true">		<li data-role="list-divider" data-mini="true">Add</li>
		<li><%= link_to "Add Activity", new_private_event_url %> </li>
		<li><%= link_to "Add Life Event", new_life_event_url %> </li>
		<li><%= link_to "Add Subscription", categories_url %> </li>
		<li data-role="list-divider" data-mini="true">Manage</li>
		<li><%= link_to "My Activities", private_events_url %></li>		<li><%= link_to "My Affiliations", edit_affiliation_path(@user, {:p => "Affiliations"}) %></li>
		<li><%= link_to "My Connections", relationships_url(:id=>@user) %> </li>
		<li><%= link_to "My Interests", edit_interest_path(@user, {:p => "Interests"}) %> </li>
		<li><%= link_to "My Subscriptions", subscriptions_url(:id=>@user) %> </li>
	</ul><% end -%>

<% content_for :footer do %>
	<%= render 'mobile/menu_page_footer' %>
<% end %>
