
<% content_for :head do %>	<% if data_form? || controller_name == 'sessions' %>
		<% unless controller_name == 'interests' && action_name == 'new' %>
		  <%= select_tag 'Go', options_for_select( select_options('Yes') ), {:class=>'ui-btn-right', 'data-mini'=>"true", :id=>'menu_id', 'data-icon'=>"arrow-d", 
				'data-iconpos'=>"right"} %>
		<% end %>
	<% elsif event_cntr? %>
		<%= select_tag 'Go', options_for_select( select_options('No') ), {:class=>'ui-btn-right', 'data-mini'=>"true", :id=>'menu_id', 'data-icon'=>"arrow-d", 
				'data-iconpos'=>"right"} %>
	<% end %>
	  
	<% if events_index? %>
		<div class="center-wrapper">
			<%= image_tag("#{get_name_or_logo('title')}", :class =>"hdr-logo") %>
		</div>
		<%= link_to 'Search', '#', :id=>"srchflg", "data-icon"=>"search", :class => "ui-btn-right", 'data-iconpos'=>'notext' %>
	<% else %>
		<h3><%= "#{title}" %>  </h3>
	<% end %>

<% end %>