	  <ul data-role="listview" data-filter="true">
		<li data-role="list-divider" class="center-wrapper">Observances & Milestones</li>
		<div class="center-wrapper">
		  	<%= render :partial => 'mobile/oblist', :collection => get_events('Observances'), :as => :event %>
		</div>			
		<% if user_signed_in? %>
			<li data-role="list-divider" class="center-wrapper">Appointments & Reminders</li>
			<%= render :partial => 'mobile/event_list', :collection => get_events('Appointment'), :as => :event %>
			<li data-role="list-divider" class="center-wrapper">Scheduled Activities</li>
			<%= render :partial => 'mobile/event_list', :collection => get_events('Schedule'), :as => :event %>
			<li data-role="list-divider" class="center-wrapper">Tracked Activities</li>
			<%= render :partial => 'mobile/event_list', :collection => get_events('Subscription'), :as => :event %>
			<li data-role="list-divider" class="center-wrapper">Recommended Activities</li>
		<% end %>	
		<li data-role="list-divider" class="center-wrapper">Upcoming Events</li>
		<%= render :partial => 'mobile/event_list', :collection => get_events('Upcoming Events'), :as => :event %>	
	  </ul>

