<ul data-role="listview" class="mainPg">
  <% cache(:fragment => 'observances', :expires_in => 30.minutes) do %>
	<% if Event.observances? %>
		<li data-role="list-divider" class="center-wrapper">Observances & Milestones</li>
		<div class="center-wrapper"><%= render :partial => 'mobile/oblist', :collection => get_db_events('Observances'), :as => :event, :locals => {:edate => Date.today} %></div>			
	<% end %>
  <% end %>
	<% if Event.logistics?(@user) %>
		<li data-role="list-divider" class="center-wrapper">Logistical</li>
		<%= render :partial => 'mobile/event_list', :collection => get_db_events('Logistics'), :as => :event, :locals => {:edate => Date.today} %>
	<% end %>
	<% if Event.appointments?(@user) %>
		<li data-role="list-divider" class="center-wrapper">Appointments & Reminders</li>
		<%= render :partial => 'mobile/event_list', :collection => get_db_events('Appointment'), :as => :event, :locals => {:edate => Date.today} %>
	<% end %>
	<% unless Event.user_events? %>
		<div class="stitle center-wrapper"><h6><%= 'No activities scheduled.'  %></h6></div>
	<% else %>
		<li data-role="list-divider" class="center-wrapper">Scheduled Activities</li>
		<%= render :partial => 'mobile/event_list', :collection => get_db_events('Scheduled'), :as => :event, :locals => {:edate => Date.today} %>
	<% end %>
  <% cache(:fragment => 'suggested', :expires_in => 30.minutes) do %>
	<li data-role="list-divider" class="center-wrapper">Suggested Opportunities</li>
	<div class="bxslider">
		<%= render :partial => 'mobile/promo_image_content', :collection => get_db_events('Promo', 'channel'), :as => :promo %>	
	</div>
	<% unless Event.subscriptions?(@enddate, @user) %>
		<%= render :partial => 'mobile/event_list', :collection => get_db_events('Near'), :as => :event, :locals => {:edate => @enddate} %>	
	<% else %>
        <%= render :partial => 'mobile/event_list', :collection => get_db_events('Suggested'), :as => :event, :locals => {:edate => @enddate} %>	
	<% end %>	
  <% end %>
</ul>