<ul data-role="listview">
	<% if observances? %>
		<li data-role="list-divider" class="center-wrapper">Observances & Milestones</li>
		<div class="center-wrapper"><%= render :partial => 'mobile/oblist', :collection => get_events('Observances'), :as => :event, :locals => {:edate => Date.today} %></div>			
	<% end %>
	<% if appointments? %>
		<li data-role="list-divider" class="center-wrapper">Appointments & Reminders</li>
		<%= render :partial => 'mobile/event_list', :collection => get_events('Appointment'), :as => :event, :locals => {:edate => Date.today} %>
	<% end %>

	<% [['Scheduled Activities','Schedule'],['Suggested Opportunities','Suggested']].each do |etype| %>
		<li data-role="list-divider" class="center-wrapper"><%= etype[0] %></li>
		<% if etype[1] == 'Schedule' %>
			<% get_date_range(@events, @enddate).each do |edate| %>
				<%= render :partial => 'mobile/event_list', :collection => get_event_list(edate), :as => :event, :locals => {:edate => edate} %>
			<% end %>
			<% unless user_events? %>
				<div class="stitle center-wrapper"><h6><%= 'No activities scheduled.'  %></h6></div>
			<% end %>
		<% elsif etype[1] == 'Suggested' %>
			<% get_date_range(@events, @enddate).each do |edate| %>
				<%= render :partial => 'mobile/event_list', :collection => get_events(etype[1], edate), :as => :event, :locals => {:edate => edate} %>	
			<% end %>	
		<% end %>
    <% end %>
</ul>