<%= render :partial => 'mobile/index_form', :locals => {:title => @title} %>

<%= content_for :content do %>
	<div class="loc" data-loc="<%= @loc %>" data-title="<%= @title %>" data-id="<%= @id %>" data-eid="<%= @eid %>" data-sdt="<%= @sdt %>" data-etype="<%= @etype %>"></div>	
	<div id="map_canvas" class="lnglat" data-lnglat="<%= @lnglat %>"></div>
<% end %>