<%= render :partial => 'mobile/index_form', :locals => {:title => 'Billing Info'} %>
<div id="pmtForm">
<%= render 'mobile/purchase_summary' %>
<div class="clear-all"></div>
<%= form_for @transaction, :url => transactions_url(:order=>@order), :html => {:id => 'payment_form'}, :remote=>true, :validate => true do |f| %> 
  <div class="mtop"><div id="stripe_error" style="display:none" class="error"></div></div>
  <%= render :partial => 'mobile/error_messages', :locals => { :target => @transaction } %>
  <div id="new-event" class="mtop">  
	<h3>Buyer Information<hr /></h3>  
	<table>
	<%= render :partial => 'mobile/user_name_email', :locals=>{:f=>f} %>
	</table> 
	<h3 class="mtop">Billing Address<hr /></h3> 
	<table>
	<%= render :partial => 'mobile/user_address', :locals => { :form => f, :toggle => false } %>
	</table>
	<%= render :partial => 'mobile/credit_card_info' if @total > 0.0 %>
 </div>
	
  <%= f.hidden_field :token %>
  <%= f.hidden_field :user_id, :value=>@transaction.user_id %>
  <%= f.hidden_field :HostProfileID, :value => @transaction.HostProfileID %>
  <%= f.hidden_field :amt, :value => @total, :id => 'amt' %>
  <%= f.hidden_field :description, :value => @order[:event_name] %>
  <div class="order-btn">
  	<center><%= f.submit "Purchase", :confirm => confirm_msg, :id => 'payForm', "data-theme"=>"b" %></center>
  </div>
<% end %></div>

