  <div class="mtop">
    <div class="center-wrapper"> 
		<%= render :partial => 'mobile/show_photo', :locals => {:model => @presenter, :vtype => 'ppic', :file_name => 'headshot2.jpg', :psize=>'80x80' }%>
		<h3><%= @presenter.name %></h3>
    </div>
  </div>
<p>  
<div id="show-item">
  <% unless @presenter.title.blank? %>
	<label><%= "Title: " %></label> 
	<span class="item-detail"><%= @presenter.title %></span><br /> 
  <% end %>

  <% unless @presenter.org_name.blank? %>
	<label><%= "Company: " %></label> 
	<span class="item-detail"><%= @presenter.org_name %></span>
  <% end %>
  
  <% for contact in @presenter.contact_details %>
	<%= render :partial => 'mobile/contact_details', :locals => { :contact => contact } %>
  <% end %>
</p>  
</div>   
<% unless @presenter.bio.blank? %>
  	<ul data-role="listview" data-dividertheme="a">
		<li data-role="list-divider">Bio</li>
	</ul>
	<p class="item-descr"><%= @presenter.bio %></p>
<% end %>
