<div class="mtop">
  <ul data-role="listview">
  	<% for presenter in @presenters %>
	<li>
		<%= link_to presenter_url(presenter) do %>
		  <% for pic in presenter.pictures %>
			<% if pic %>
    			<%= image_tag pic.photo.url, :class=>'ppic' %>
    		<% end %>		
   		  <% end %>
   		  <div class="pstr">
		  	<h6><%= presenter.name %></h6>
		  </div>
		  <p><%= presenter.title %></p>
		  <p class="ptitle"><%= presenter.org_name %></p>		  
		<% end %>
	</li>
	<% end %>
  </ul>
</div> 