  <ul data-role="listview" data-filter="true">
  	<% for presenter in @presenters.uniq %>
	<li>
		<%= link_to presenter_url(presenter) do %>
		  <%= render :partial => 'mobile/show_photo', :locals => {:model => presenter, :vtype => 'ppic', :file_name => 'schedule1.jpg', :psize=>'80x80' }%>

   		  <div class="pstr">
		  	<h6><%= presenter.name %></h6>
		  </div>
		  <p><%= presenter.title %></p>
		  <p class="ptitle"><%= presenter.org_name %></p>		  
		<% end %>
	</li>
	<% end %>
  </ul>
