  <div class="mtop">
    <div class="center-wrapper"> 
		<%= render :partial => 'mobile/show_photo', :locals => {:model => @presenter, :vtype => 'ppic', :file_name => 'headshot2.jpg', :psize=>'80x80' }%>
		<h3><%= @presenter.name %></h3>
    </div>
  </div>
<p>  
<div id="show-item">
<p>
  <% unless @presenter.title.blank? %>
	<label><%= "Title: " %></label> 
	<span class="item-detail"><%= @presenter.title %></span> 
  <% end %>
  </p>
  <p>
  <% unless @presenter.org_name.blank? %>
	<label><%= "Company: " %></label> 
	<span class="item-detail"><%= @presenter.org_name %></span>
  <% end %>
  </p>
  
  <% for contact in @presenter.contact_details %>
  	<% if any_details?(contact) %> 	
  	  <ul data-role="listview" data-dividertheme="a">
		<li data-role="list-divider">Contact Details</li>
	  </ul> 
 
   	  <% [['work_phone', 'Work Phone:'], ['work_email', 'Email:'], ['website', 'Website:'], ['facebook_name', 'Facebook:'],
      	 ['twitter_name', 'Twitter:'], ['linkedin_name', 'LinkedIn:'], ['skype_name', 'Skype:']].each do |fld| %>	
  	 	<% unless contact.send(fld[0]).blank? %>	
  			<label><%= "#{fld[1]}" %></label>
  			<span class="item-detail"><%= contact.send(fld[0]) %></span>
  	 	<% end %>
  	  <% end %>
    <% end %>
  <% end %>
</p>  
</div>   
<% unless @presenter.bio.blank? %>
  	<ul data-role="listview" data-dividertheme="a">
		<li data-role="list-divider">Bio</li>
	</ul>
	<p class="item-descr"><%= @presenter.bio %></p>
<% end %>
