  <ul data-role="listview">
  	<% for presenter in @presenters %>
	<li>
		<%= link_to presenter_url(presenter) do %>
		  <%= render :partial => 'mobile/show_photo', :locals => {:model => presenter, :vtype => 'ppic' }%>

   		  <div class="pstr">
		  	<h6><%= presenter.name %></h6>
		  </div>
		  <p><%= presenter.title %></p>
		  <p class="ptitle"><%= presenter.org_name %></p>		  
		<% end %>
	</li>
	<% end %>
  </ul>
