<%= content_for :head do %>
	<div data-role="navbar">
	  	<ul>
			<li><%= link_to "All", relationships_url(:id=>@user), "data-theme"=>theme[0]%> </li>
			<li><%= link_to "Family", private_relationships_url(:id=>@user, :rtype => 'Private'), "data-theme"=>theme[1] %> </li>
			<li><%= link_to "Friend", social_relationships_url(:id=>@user, :rtype => 'Social'), "data-theme"=>theme[2] %> </li>
			<li><%= link_to "World", extended_relationships_url(:id=>@user, :rtype => 'Extended'), "data-theme"=>theme[3] %> </li>
		</ul>
	</div>
<% end %>

<%= content_for :content do %>
	<%= render :partial => 'mobile/connections', :locals => {:model => get_trk_list(@trackers, @trackeds)}%>
<% end %>

<%= content_for :footer do %>
  <div data-role="navbar">
	<ul>
		<li><%= link_to 'Home', home_path, "data-icon"=>"home" %></li>
		<% if @rel_type && controller_name == 'relationships' %>
			<li><%= link_to "Connection", users_url(:id=>@user, :rtype=>@rel_type), "data-icon"=>"plus" %> </li>
	 	<% else %>
			<li><%= link_to "Family", users_url(:id=>@user, :rtype=>'Private'), "data-icon"=>"plus" %> </li>
			<li><%= link_to "Friend", users_url(:id=>@user, :rtype=>'Social'), "data-icon"=>"plus" %> </li>
			<li><%= link_to "World", users_url(:id=>@user, :rtype=>'Extended'), "data-icon"=>"plus" %> </li>	 		
		<% end %>
		<li><%= link_to 'Menu', home_user_path, "data-icon"=>"gear" %></li>    
	</ul>
  </div>
<% end %>
