<%= render :partial => 'mobile/show_event_details', :locals => {:event => event} %>
<%= render :partial => 'mobile/show_event_contact', :locals => {:event => event} %>
<%= render :partial => 'mobile/show_event_location', :locals => {:event => event} %> 
<%= render :partial => 'mobile/show_event_info', :locals => {:event => event} %> 
<% if tsd_event?(event.event_type) %>
	<%= render :partial => 'mobile/show_event_fees', :locals => {:event => event} %> 
<% end %>
<% if @presenters %>
	<ul data-role="listview" data-dividertheme="a">
		<li data-role="list-divider">Presenter(s)</li>
	</ul>  
	<%= render 'mobile/presenter_list' %>
<% end %>	
<%= content_for :footer do %>
	<%= render :partial => 'mobile/show_event_footer', :locals => {:event => event} %> 
<% end %>
