<div class="event-image center-wrapper">
  <% unless life_event?(event.event_type) || private_event?(event.event_type) %>
	<div class="event-image center-wrapper">
	  <%= render :partial => 'mobile/show_photo', :locals => {:model => event, :vtype => 'show-pic' }%>
  	</div>
  <% end %>
</div>

<h3 class="center-wrapper"><%= event.event_name %></h3>
<label>Date: </label><span class="item-detail"><%= get_start_date(event.eventstartdate, event.eventenddate, "Show") %></span><br />	
<label>Time: </label>
 
<span class="item-detail">
	<%= " #{chk_offset(event.eventstarttime, event.localGMToffset, event.contentsourceID)} 
		- #{chk_offset(event.eventendtime, event.endGMToffset, event.contentsourceID)}" %>
</span><br /> 

<%= render :partial => 'mobile/show_event_contact', :locals => {:event => event} %>
<%= render :partial => 'mobile/show_event_location', :locals => {:event => event} %> 

<% if tsd_event?(event.event_type) %>
	<%= render :partial => 'mobile/show_event_fees', :locals => {:event => event} %> 
<% end %>

<%= content_for :footer do %>
   <% if is_session?(event.event_type) && !event.try(:presenters).blank? %>
		<div class="mtop center-wrapper"><label>Presenter(s)</label></div> 	
		<%= render 'mobile/presenter_list' %>
  <% end %>	

  <div data-role="navbar">
	  <ul>
		<% if !life_event?(event.event_type) && !private_event?(event.event_type) %>
			<li><%= link_to "Add", move_private_event_url(event, :etype=>event.event_type),  :confirm => 'Add to your schedule?', "data-icon"=>"custom", :id => "move", :remote => true %> </li>
			<li><%= link_to "Like", like_event_url(event), "data-icon"=>"custom", :id => "like", :remote => true %> </li>
		<% elsif private_event?(event.event_type) %>
			<% if event.eventenddate >= Date.today %>
				<li><%= link_to "Edit", edit_private_event_url(event), "data-icon"=>"custom", :id => "edit" %> </li>
			<% end %>
			<li><%= link_to "Clone", clone_private_event_url(event), "data-icon"=>"custom", :id => "edit" %> </li>
			<li><%= link_to "Delete", private_event_url(event), :method => 'delete',  :confirm => 'Are you sure?', :id => "delete" %> </li>
		<% elsif life_event?(event.event_type) %>
			<% if event.eventenddate >= Date.today %>
				<li><%= link_to "Edit", edit_life_event_url(event), "data-icon"=>"custom", :id => "edit" %> </li>
			<% end %>
			<li><%= link_to "Clone", clone_life_event_url(event), "data-icon"=>"custom", :id => "edit" %> </li>
			<li><%= link_to "Delete", life_event_url(event), :method => 'delete', :confirm => 'Are you sure?', "data-icon"=>"custom", :id => "delete" %> </li>
		<% end %>
		
		<li><%= link_to "Notify", notify_event_url(event), "data-icon"=>"custom", :id => "notify", :remote => true %> </li>
		<li><%= link_to "Share", share_event_url(event), "data-icon"=>"custom", :id => "share", :remote => true %> </li>
		<% if rsvp?(event.rsvp) %>
			<li><%= link_to "RSVP", rsvp_event_url(event), "data-icon"=>"custom", :id => "rsvp", :remote => true %> </li>
	  	<% end %>
	  </ul>
	</div>
<% end %>


