<div class="event-image center-wrapper">
	<div class="event-image center-wrapper">
	  <%= render :partial => 'mobile/show_photo', :locals => {:model => event, :vtype => picSize(event.event_type), :file_name => 'schedule1.jpg', :psize=>'80x80' }%>
  	</div>
</div>

<%= render :partial => 'mobile/show_event_details', :locals => {:event => event} %>
<%= render :partial => 'mobile/show_event_contact', :locals => {:event => event} %>
<%= render :partial => 'mobile/show_event_location', :locals => {:event => event} %> 
<%= render :partial => 'mobile/show_event_info', :locals => {:model => event} %> 
<% if any_prices?(event) %>
	<%= render :partial => 'mobile/show_event_fees', :locals => {:event => event} %> 
<% end %>
<% unless @presenters.blank? %>
	<ul data-role="listview" data-dividertheme="a">
		<li data-role="list-divider"><%= "#{get_label(event.event_type)}"%></li>
	</ul>  
	<%= render 'mobile/presenter_list' %>
<% end %>	
<%= content_for :footer do %>
	<%= render :partial => 'mobile/show_event_footer', :locals => {:event => event} %> 
<% end %>
