<label><%= 'Where:' %></label> <% if !event.location.blank? && is_session?(event.event_type) %>	<span class="item-detail"><%= event.location %></span><br /><% end %><span class="item-detail"><%= event.mapplacename %></span><br /><span class="item-detail"><%= event.mapstreet %></span><br />
<% unless event.mapcity.blank? %>	<span class="item-detail"><%= "#{event.mapcity}, #{event.mapstate} #{event.mapzip}  " %></span><br /><% end %>
<% unless event.cbody.blank? %>	<label><%= 'Details:' %></label>	<span class="item-detail"><%= event.cbody.html_safe %></span><br /><% end %>