<% if !event.speaker.blank? %>	<label><%= "Speaker:" %></label>	<span class="item-detail"><%= event.speaker.titleize %></span><br /><% end %>
<% if !event.speakertopic.blank? %>	<p><label><%= "Topic:" %></label> 	<span class="item-detail"><%= event.speakertopic %></span><br /></p><% end %>
<% if !event.host.blank? %>	<p><label><%= "Host:" %></label>	<span class="item-detail"><%= event.host.titleize %></span><br /></p> <% end %><% if !event.RSVPemail.blank? %>	<label><%= "RSVP Email:" %></label> 	<span class="item-detail"><%= event.RSVPemail %></span><br /> <% end %>