  <div data-role="navbar">
	  <ul>
		<li><%= link_to 'Home', home_path, "data-icon"=>"home" %></li>

		<% if !life_event?(event.event_type) && !private_event?(event.event_type) %>
			<li><%= link_to "Schedule", private_events_url(:id=>event, :etype=>event.event_type, :eid=>event.eventid, :sdate=>event.eventstartdate), :confirm => 'Add to your schedule?', 
					"data-icon"=>"add", "rel"=>"external",'data-ajax'=>"false", :method => :post %> </li>
		<% elsif private_event?(event.event_type) %>		
			<li><%= link_to "Edit", edit_private_event_url(event, :eid=>event.eventid), "data-icon"=>"custom", :id => "edit" %> </li>
			<li><%= link_to "Delete", private_event_url(event, :eid=>event.eventid), :method => 'delete',  :confirm => 'Delete this event?',"rel"=>"external",'data-ajax'=>"false", "data-icon"=>"custom", :id => "delete" %> </li>					
		<% elsif life_event?(event.event_type) %>
			<li><%= link_to "Edit", edit_life_event_url(event, :eid=>event.eventid), "data-icon"=>"custom", :id => "edit" %> </li>
			<li><%= link_to "Delete", life_event_url(event, :eid=>event.eventid), :method => 'delete', :confirm => 'Delete this event?',"rel"=>"external",'data-ajax'=>"false", "data-icon"=>"custom", :id => "delete" %> </li>
		<% end %>

		<% if life_event?(event.event_type) || private_event?(event.event_type) %>
			<li><%= link_to "Share", new_notification_url(:id=>event, :etype=>event.event_type, :eid=>event.eventid, :sdate=>event.eventstartdate), "data-icon"=>"custom", :id => "notify" if event.end_date >= Date.today %> </li>
		<% end %>
						
		<% if rsvp?(event.rsvp) %>
			<% if private_event?(event.event_type) %>			
				<li><%= link_to "RSVP", rsvp_url(:id=>event.eventid, :eid=>event, :etype=>event.event_type), "data-icon"=>"custom", :id => "rsvp" %> </li>
			<% else %>
				<li><%= link_to "RSVP", new_rsvp_url(:eid=>event, :etype=>event.event_type), "data-icon"=>"custom", :id => "rsvp" %> </li>			
			<% end %>
	  	<% end %>
	  	<% unless (event.location =~ /http/i).nil? || private_event?(event.event_type) %>
	  		<li><%= link_to 'Website', event.location, { :id=>'website','rel'=>'external', "data-icon"=>"custom"} %></li>
		<% end %>
		<% unless has_location?(event) %>
		  <%= link_to "Map", maps_url(:loc=>map_loc(event), :lnglat=>get_lnglat(event), :title=>map_title(event)), { :id=>'map','rel'=>'external', "data-icon"=>"custom"} %>	
	  	<% end %>

		
		<li><%= link_to 'Menu', home_user_path, "data-icon"=>"gear" %></li>    
	  </ul>
	</div>