<%= render :partial => 'mobile/index_form', :locals => {:title => 'Event Details'} %>
<%= content_for :ad_content do %>
    <%= image_tag 'brandSample04.jpg', :alt => "none", :size => '300x50' %>
<% end %>
<%= content_for :content do %>
	  <div id="show-item">
  		<% if major_event?(@event.event_type) %>
			<%= render :partial => 'mobile/show_major_event', :locals => {:event => @event} %>
  		<% else %>  
			<%= render :partial => 'mobile/show_event', :locals => {:event => @event} %>
		<% end %> 	  
  	  </div>
<% end %>	