<% unless event.MemberFee.blank?  %>	
	<label><%= 'Member:' %></label>
	<span class="item-detail"><%= "$#{event.MemberFee}" %></span><br />
<% end %>
<% unless event.NonMemberFee.blank? %>
	<label><%= 'General:' %></label>
	<span class="item-detail"><%= "$#{event.NonMemberFee}" %></span><br />
<% end %>
<% unless event.AffiliateFee.blank? %>	<label><%= 'Affiliate:' %></label>
	<span class="item-detail"><%= "$#{event.AffiliateFee}" %></span><br />
<% end %>
<% unless event.Other1Fee.blank? %>	<label><%= 'Student:' %></label>
	<span class="item-detail"><%= "$#{event.Other1Fee}" %></span><br />
<% end %>
<% unless event.Other2Fee.blank? %>	<label><%= 'Senior:' %></label>
	<span class="item-detail"><%= "$#{event.Other2Fee}" %></span><br />
<% end %>
<% unless event.SpouseFee.blank? %>	<label><%= 'Spouse:' %></label>
	<span class="item-detail"><%= "$#{event.SpouseFee}" %></span><br />
<% end %>
<% unless event.GroupFee.blank? %>	<label><%= 'Group:' %></label>
	<span class="item-detail"><%= "$#{event.GroupFee}" %></span><br />
<% end %>
<% unless event.Other3Fee.blank? %>	<label><%= 'Prepaid:' %></label>
	<span class="item-detail"><%= "$#{event.Other3Fee}" %></span><br />
<% end %>
<% unless event.AtDoorFee.blank? %>	<label><%= 'At Door:' %></label>
	<span class="item-detail"><%= "$#{event.AtDoorFee}" %></span><br />
<% end %>
