<%= form_for @rsvp do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :eventid %><br />
    <%= f.text_field :eventid %>
  </p>
  <p>
    <%= f.label :subscriptionsourceID %><br />
    <%= f.text_field :subscriptionsourceID %>
  </p>
  <p><%= f.submit %></p>
<% end %>
