<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start Date</th>
    <th></th>
  </tr>
  <% for sub in @subscriptions %>
    <% unless sub.local_channel.blank? %>
    <tr>
      <td><%= sub.channel_name %></td>
      <td><%= truncate(sub.description, :length=>120, :omission=>"...") %></td>
      <td><%= get_nice_date(sub.created_at, 'List') %></td>
	  <td><%= link_to "Unsubscribe", subscription_url(:id=>sub, :user_id=>@user, :channel_id => sub.channelID), :id=>'unsub_btn', :method=>:put, :confirm => 'Unsubscribe from this channel?' %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<div class="nav-right">
  <%= will_paginate @subscriptions %>
</div>