<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Summary</th>
    <th>Start Date</th>
    <th></th>
  </tr>
  <% for sub in @subscriptions %>
    <% unless sub.channel.blank? %>
    <tr>
      <td>
        <div class="pic-size">
          <%= render :partial => 'shared/show_photo', :locals => {:model => sub.channel, :file_name => "headshot1.jpg", :psize => '48x48' } %>
		</div>
      </td>
      <td><%= sub.channel.channel_name %></td>
      <td><%= truncate(sub.channel.bbody, :length=>80, :omission=>"...") %></td>
      <td><%= get_nice_date(sub.created_at, 'List') %></td>
	  <td><%= link_to "Unsubscribe", subscription_url(:id=>sub, :user_id=>@user, :channel_id => sub.channel), :id=>'unsub_btn', :method=>:put, :confirm => 'Unsubscribe from this channel?' %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<div class="nav-right">
  <%= will_paginate @subscriptions %>
</div>