<%= render :partial => 'mobile/index_form', :locals => {:title => 'My Subscriptions'} %>

<%= content_for :content do %>	
	<%= form_tag cancel_subscriptions_path(:id=>@user), :method => :put do %>

		<%= render :partial => 'mobile/subscription_list' %>
		<p><%= submit_tag "Unsubscribe", "data-theme"=>"b" %></p>
	<% end %>
<% end %>