<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Profile' } %>

<%= content_for :content do -%>
	<div class="pg-title">
		<center><h3 class="grp-hdr">My Subscriptions</h3></center><hr />
		<table>
  			<tr><th>Name</th><th>Description</th><th></th></tr>
			<div id="sub-list"><%= render @subscriptions %></div>
		</table>	
	</div>
	
	<div class="nav-right">
  		<%= will_paginate @subscriptions, :param_name => 'subscription_page' %>
	</div> 	
<% end -%>

<%= content_for :footer do %>
	<%= render 'layouts/footer' %>
<% end %>