<% content_for :head do %>
  <%= render :partial => 'shared/main_menu', :locals => { :main_menu => "Register" } %>
<% end %>

<% content_for :subhead do %>
  <%= render :partial => 'shared/breadcrumb', :locals => { :breadcrumb => 2 } %>
<% end %>

<% content_for :content do %>
	<h3 class="strong">Select Your Channels</h3>
	<p>Based on your selections we found the following channels for you.</p>

	<%= form_for @subscription do |f| %>
		<%= render 'channel_lists' %>
		<br />
		<%= f.submit 'Continue >>', :class => "nav-right" %>
		<br />
	<% end %>
<% end %>