<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'Sign In' } %>

<% content_for :content do -%>
  <%= render :partial => "devise/shared/forgot" %>
  <h3><strong><%= "Sign in to #{get_name_or_logo} "%></strong></h3><br />

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= render "shared/error_messages", :target => resource %>  
	<div id="newreg" class="sign-in-label">
		<p><span>Username or email</span></p>
		<p><%= f.text_field :login, :size => 40 %></p> 		
		<p><span>Password</span></p>
		<p><%= f.password_field :password, :size => 40 %></p>
 			
    		<% if devise_mapping.rememberable? -%>
  				<p><span>Remember Me</span>  					  							
  					<div class="sign-in-cbox">
  						<%= f.check_box :remember_me %>
  					</div></p>
    		<% end -%>
   		<%= f.submit 'Sign In' %> 
    </div>
  <% end %>

  <%= render :partial => "devise/shared/signup" %>
<% end -%>