<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.input :email, :input_html => { :maxlength => 50 } %>
    <%= f.input :password, :input_html => { :maxlength => 40 } %>
 
    <% if devise_mapping.rememberable? -%>
  		<%= f.input :remember_me, :as => :boolean %>
    <% end -%>
    
   <%= f.button :submit, 'Sign In'%> 
<% end %>

<%= render :partial => "devise/shared/links" %>