<div class="span-20 last prepend-4">
<table>
  <tr>
    <th></th>
    <th>Event Name</th>
    <th>Overview</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <% for event in @results %>
    <tr>
      <td>
        <div class="pic-size">
          <%= render :partial => 'shared/show_photo', :locals => {:model => event, :file_name => "headshot1.jpg", :psize => '48x48' } %>
		</div>
      </td>
      <td><%= link_to event.event_name, event_path(event, :etype=>event.event_type) %></td>
      <td><%= truncate(event.bbody, :length => 60, :omission => "...") %></td>
      <td><%= get_nice_date(event.eventstartdate,'List') %></td>
      <td><%= get_nice_date(event.eventenddate,'List') %></td>
      <td><%= chk_offset(event.eventstarttime, event.localGMToffset) %></td>
      <td><%= chk_offset(event.eventendtime, event.endGMToffset) %></td>
    </tr>
  <% end %>
</table>
</div>
<div class="nav-right">
	<%= will_paginate @results %>
</div>
