<%= render :partial => 'mobile/index_form', :locals => {:title => 'Event Calendar'} %>

<%= content_for :head do %>

<% end %>

<%= content_for :content do %>
<div id="eventcal">
  <div class="major_evnt" data-sdt="<%= date_diff(@event.eventstartdate) %>" data-edt="<%= date_diff(@event.eventenddate) %>" data-eid="<%= @event.id %>"></div>	
</div>
<% end %>

<%= content_for :footer do %>
	<%= render :partial => 'mobile/major_event_footer' %> 
<% end %>