<%= render :partial => 'shared/menu_head', :locals => { :menu_type => 'User' } %>

<%= content_for :subhead do -%>
<% end %>

<%= content_for :content do -%>
  <div class="span-24 last" >  
  	<center><h3>Presenter Details</h3></center><hr />
	<div class="span-4">
		<%= render :partial => 'shared/show_photo', :locals => {:model => @presenter, :file_name => "headshot1.jpg", :psize => '120x120' } %>
	</div>
	<%= render 'shared/show_presenter' %>
	<%= render :partial => 'shared/presenter_details', :locals => {:presenter => @presenter } %>
  </div>
<% end -%>
