<!-- -->
<% content_for :head do %>
  <%= render :partial => 'shared/main_menu', :locals => { :main_menu => "Register" } %>
<% end %>

<% content_for :subhead do %>
  <%= render :partial => 'shared/breadcrumb', :locals => { :breadcrumb => 3 } %>
<% end %>

<h2 class="strong">Invite Friends</h2> 
Enter email addresses of people to invite and share schedules with. Separate each address by a comma.<br>

<%= form_for @associate do |f| %>
 	<br /> 
	<%= f.text_area :email, :size => "25x15" %> 
	<br />
    <%= f.submit 'Send Invites' %>
	<%= f.submit 'Skip >>', :class => "nav-right" %>
	<br />  
<% end %>   	
