<%= render 'shared/bc_associate' %>
<h1>Invite Friends</h1> 
Enter email addresses of people to invite and connect. Separate each address by a comma.<br>

<%= simple_form_for @associate do |f| %>
 	<br />  
    <%= f.input :email, :as => :text %>
    <%= f.submit 'Send Invites' %>
 <nav class="round"> 
	<%= submit_tag "Continue >>", :name => "commit" %>
</nav>   
<% end %>   	
