<!DOCTYPE html>
<html>
  <head>  
  	<%= yield :title %> 
	<%= stylesheet_link_tag 'jquery-ui-1.8.11.custom', 'jquery.ui.datepicker.mobile','meter', :cache => true %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<%= javascript_include_tag :defaults, "application.mobile", "iscroll-lite" %>
	<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
	<%= yield :pre_mobile_load %>
  	
   	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
 	<script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
    <%= stylesheet_link_tag "mobile", "calendar", :cache => true %>  
    <% if !user_signed_in? %>
    	<%= stylesheet_link_tag "mobile_device" %>
    <% end %>
  	<%= javascript_include_tag 'jQuery.ui.datepicker.js','jquery.ui.datepicker.mobile.js','jquery.progressbar.min.js', :cache => true %>
  	<%= csrf_meta_tag %>  	
  </head>
  <body>  
  <div id="app" data-role="page"> 
    <div data-role="header" data-theme="b">
      <%= yield :head %>
    </div>
    
    <div id="banner_ad_top">
    	<div class="center-wrapper">
    		<%= yield :ad_content %>
    	</div>
    </div>
    
	<div class="app-content" data-role="content">		
      <%= yield :content %>
    </div>
    
    <div id="app-footer" data-role="footer">		
      <%= yield :footer %>
    </div>
   </div>   
     
  </body> 
</html>
