<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= javascript_include_tag 'jquery-1.5.1.min.js', 'jquery-ui-1.8.11.custom.min.js', 'autocomplete-rails.js', 'rails.js', 'application.js'  %>
  <%= stylesheet_link_tag :all, 'jquery-ui-1.8.4.custom.css' %>

  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      
  	   <!-- add for devise -->
  	   <% if !notice.nil? %>
  	   	<p class="notice"><%= notice %></p>
  	   <% end %>
       <% if !alert.nil? %>
            <p class="alert"><%= alert %></p>     
       <% end %>
      <section class="round">
        <%= yield %>
      </section>
       <%= render 'layouts/footer' %>
       <%= debug(params) if Rails.env.development? %> 
   </div>  
  </body>
</html>
