<!DOCTYPE html>
<html>
<head>
   <%= render 'shared/initialize' %>
   <%= stylesheet_link_tag 'custom', :media => 'screen' %>   
   <%= stylesheet_link_tag 'screen', :media => 'screen' %>   
 
   <% if user_signed_in? %>
  		<%= stylesheet_link_tag 'breadcrumb', :media => 'screen' %>  
   <% end %> 

  <%= yield :head %>
</head>
  <body>
    <div class="container">
     	<%= yield :subhead %>   
  	   	<% if !notice.nil? %>
  	   		<p class="notice"><%= notice %></p>
  	   	<% end %>
       	<% if !alert.nil? %>
            <p class="alert"><%= alert %></p>     
       	<% end %>
      	<section class="round">
        	<%= yield :content %>
      	</section>
       	<%= render 'layouts/footer' %>
   </div>  
  </body>
</html>
