<!DOCTYPE html>
<html>
<head>
   <%= render 'shared/initialize' %>
   <%= stylesheet_link_tag 'custom', :media => 'screen' %>   
   <%= stylesheet_link_tag 'screen', :media => 'screen' %>   
 
   <% if user_signed_in? %>
   		<%= javascript_include_tag 'formfield.js', 'jquery.progressbar.min.js', 'progress_meter.js', "autocomplete-rails.js", :cache => true %>
  		<%= stylesheet_link_tag 'breadcrumb', :media => 'screen' %>  
   <% else %>
  		<%= stylesheet_link_tag 'session', :media => 'screen' %>     		
   <% end %> 

  <%= yield :head %>
</head>
  <body>
    <div class="container">
  	   	<% unless notice.nil? %>
  	   		<p class="notice"><%= notice %></p>
  	   	<% end %>
       	<% unless alert.nil? %>
            <p class="alert"><%= alert %></p>     
       	<% end %>
     	<%= yield :subhead %>   
      	<section class="round">
        	<%= yield :content %>
   			<%= yield :right_sidebar %>
     	</section>
   </div>          
   <%= render 'layouts/footer' %>
  </body>
</html>
