<!DOCTYPE html>
<html>
  <head>	   		
   		<%= stylesheet_link_tag 'custom', :media => 'screen' %>   
 	  	<%= render 'shared/initialize' %>
  		<%= stylesheet_link_tag 'layout', :media => 'screen' %>   
  		<%= stylesheet_link_tag 'menu', :media => 'screen' %>   

	  	<%= yield :head %>
  </head>
  <body>
		<%= yield %>
	  	<%= yield :left_sidebar %>
	  	<%= yield :right_sidebar %>
	  	<%= yield :content %>
   		<%= render 'layouts/footer' %>
  </body>
</html>
