<!DOCTYPE html>
<html>
  <head>  
  	<%= yield :title %> 
	<%= render 'layouts/jqm' %>
    <%= stylesheet_link_tag "mobile", "calendar", :cache => true %>  
  	<%= csrf_meta_tag %>  	
  </head>
  <body>  
    <div id="app" data-role="page" data-cache="never"> 
      <div data-role="header" data-theme="b" id="app-header">
      	<%= yield :head %>
      	<%= yield :srch_content %>
  	  </div>
    
      <div id="banner_ad_top">
    	<div class="center-wrapper">
    		<%= yield :ad_content %>
    	</div>
      </div>
    
	  <div class="app-content" data-role="content">
	  	<div class="subhead">
    		<%= yield :subhead %>
    	</div>
		<div class="home-pg">
      		<%= yield :content %>
      	</div>
      </div>
    
      <div id="app-footer" data-role="footer">		
      	<%= yield :footer %>
      </div>
    </div>  
  </body> 
</html>
