<!DOCTYPE html>
<html>
  <head>	
		<%= stylesheet_link_tag 'jquery.fancybox-1.3.4', :media => 'screen' %>  
   		<%= stylesheet_link_tag 'custom', :media => 'screen' %>     		
 	  	<%= render 'shared/initialize' %>
		<%= stylesheet_link_tag 'layout', :media => 'screen' %>
		<%= stylesheet_link_tag 'links', :media => 'screen' %>
		<%= stylesheet_link_tag 'slider', :media => 'screen' %>	
		<%= stylesheet_link_tag 'dropdown', :media => 'screen' %>
 	
 	  	<%= yield :head %>
  </head>
  <body>
	  	<%= yield :left_sidebar %>
	  	<%= yield :right_sidebar %>
 		<div class="container round landing-bg" id="landing">  
 			<div id="spinner" style="display:none"></div>
	  		<%= yield :content %>
			<%= yield :scripts %>
		</div>
   		<%= render 'layouts/footer' %>
  </body>
</html>
