<!DOCTYPE html>
<html>
  <head>  
  	<%= yield :title %> 
	<%= render 'layouts/jqm' %>
    <%= stylesheet_link_tag "mobile", "calendar", 'styles', :cache => true %>  
   	<%= stylesheet_link_tag "mobile_device" unless user_signed_in? %>
  	<%= csrf_meta_tag %>  	
  </head>
  <body>  
  <div id="formapp" data-role="page" data-dom-cache="false"> 
    <div data-role="header" data-theme="b" id="app-header">
      <%= yield :head %>
    </div>
    
    <div id="banner_ad_top">
    	<div class="center-wrapper">
    		<%= yield :ad_content %>
    	</div>
    </div>
    
	<div class="app-content" data-role="content">
		<div class="form-top">
			<%= yield :subhead %>
      		<%= yield :content %>
      	</div>
    </div>
    
    <div id="app-footer" data-role="footer">		
      <%= yield :footer %>
    </div>
   </div>   
     
  </body> 
</html>
