<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>   
  <%= render 'shared/initialize' %>
  <%= stylesheet_link_tag 'home','menu', :media => 'screen', :cache => true %>   	
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>  

  <%= yield :head %>		
</head>
	<body>
    	<div class="container">
      		<%= yield :content %>
       	</div>
        <%= render 'layouts/footer' %>
	</body>
</html>
