<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>   
  <%= render 'shared/initialize' %>
  <%= stylesheet_link_tag 'home', :media => 'screen' %>   	

  <%= yield :head %>		
</head>
	<body>
      	<%= yield :content %>
     	<%= yield :footer %>
	</body>
</html>
