<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>   
  <%= render 'shared/initialize' %>
  <%= stylesheet_link_tag 'home', :media => 'screen' %>   	
  <%= stylesheet_link_tag 'menu', :media => 'screen' %>   	

  <%= yield :head %>		
</head>
	<body>
		<div class="span-24 last">
      		<%= yield :content %>
       		<%= render 'layouts/footer' %>
		</div>
 	</body>
</html>
