<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'custom', :media => 'screen', :cache => true %>   
  <%= render 'shared/initialize' %>
  <%= stylesheet_link_tag 'home', :media => 'screen', :cache => true %>   	
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>  

  <%= yield :head %>		
</head>
	<body>
      	<%= yield :content %>
     	<%= yield :footer %>
	</body>
</html>
