<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>   
  <%= render 'shared/initialize' %>
  <%= stylesheet_link_tag 'home', :media => 'screen' %>   	
  <%= stylesheet_link_tag 'menu', :media => 'screen' %>   	

  <%= yield :head %>		
</head>
	<body>
    	<div class="container">
      		<%= yield :content %>
       	</div>
        <%= render 'layouts/footer' %>
	</body>
</html>
