<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>   
  <%= render 'shared/initialize' %>
  <%= stylesheet_link_tag 'home', :media => 'screen' %>   	

  <%= yield :head %>		
</head>
	<body>
		<div class="container">
	   		<section class="round">
				<%= yield %>
          		<%= yield :content %>
       		</section>
       		<%= render 'layouts/footer' %>
       	</div>
	</body>
</html>
