<!DOCTYPE html>
<html>
  <head>	
   		<%= stylesheet_link_tag 'custom', :media => 'screen', :cache => true %>     		
 	  	<%= render 'shared/initialize' %>	  	
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<%= stylesheet_link_tag 'layout', 'links','jquery.fancybox-1.3.4', :media => 'screen', :cache => true %>
		<%= javascript_include_tag 'map.js', :cache => true %>	
 	  	<%= yield :head %>
  </head>
  <body>
 	<div class="container landing-bg" id="landing">  
 		<div id="spinner" style="display:none"></div>
 		<%= yield :left_sidebar %>
	  	<%= yield :content %>
		<%= yield :scripts %>
	</div>
	<div id="footer" class="container">
		<%= yield :footer %>		
	</div>
	<%= render 'shared/jsheets'%>
    <%= render :partial => 'layouts/ga' if Rails.env.production? %>      
  </body>
</html>
