<!DOCTYPE html>
<html>
  <head>  
  	<%= yield :title %> 
	<%= render 'layouts/jqm' %>
 	<script src="http://cubiq.org/dropbox/iscroll/iscroll.js?v3.7.1"></script>
 
    <%= render :partial => 'layouts/ga_head' if Rails.env.production? %>      

    <%= stylesheet_link_tag "mobile", "calendar", "mobile_device", :cache => true %>  
  	<%= javascript_include_tag 'application.mobile.js', 'jquery.infieldlabel.min.js', "jquery.mobile.iscroll.js", :cache => true %>
  	<%= csrf_meta_tag %>  	
  </head>
  <body>  
  <div id="app" data-role="page" data-iscroll="enable"> 
    <div data-role="header" data-theme="b">
      <%= yield :head %>
    </div>
    
    <div id="banner_ad_top">
    	<div class="center-wrapper">
    		<%= yield :ad_content %>
    	</div>
    </div>
    
	<div class="app-content" data-role="content">
	  <% if user_signed_in? %>
		<div data-iscroll="scroller" class="scroller">
	  <% else %>	
	  	<div>
	  <% end %>	
      		<%= yield :content %>
      	</div>
     </div>
    
     <div id="app-footer" data-role="footer">		
       <%= yield :footer %>
     </div>
    </div>   
   </div>
   <%= render :partial => 'layouts/ga_body' if Rails.env.production? %>        
  </body> 
</html>
