<!DOCTYPE html>
<html>
  <head>	
   		<%= stylesheet_link_tag 'custom', :media => 'screen', :cache => true %>     		
 	  	<%= render 'shared/initialize' %>
 	  	
		<%= stylesheet_link_tag 'layout', 'links','jquery.fancybox-1.3.4', :media => 'screen', :cache => true %>	
 	  	<%= yield :head %>
  </head>
  <body>
 	<div class="container landing-bg" id="landing">  
 		<div id="spinner" style="display:none"></div>
 		<%= yield :left_sidebar %>
	  	<%= yield :content %>
		<%= yield :scripts %>
		<%= yield :footer %>
	</div>
	<%= render 'shared/jsheets'%>
    <%= render :partial => 'layouts/ga' if Rails.env.production? %>      
  </body>
</html>
