<!DOCTYPE html>
<html>
  <head>	
   		<%= stylesheet_link_tag 'custom', :media => 'screen' %>     		
 	  	<%= render 'shared/initialize' %>

   		<% if user_signed_in? %>
   			<%= javascript_include_tag "autocomplete-rails.js",'menu.js' %>
   		<% end %>
		<%= stylesheet_link_tag 'layout','screen','users','style', :media => 'screen' %> 
 	  	<%= yield :head %>
  </head>
  <body>
	<div class="container landing-bg" id="landing">  
		<%= yield :subhead %>
  		<div id="spinner" style="display:none"></div>
	  	<%= yield :left_sidebar %>
	  	<%= yield :content %>	 
		<div id="push"></div>		
	</div> 
	<div id="footer" class="container">	
		<%= render 'layouts/footer' %>
	</div>
 </body>
</html>
