<!DOCTYPE html>
<html>
  <head>	
		<%= stylesheet_link_tag 'jquery.fancybox-1.3.4', :media => 'screen' %>  
   		<%= stylesheet_link_tag 'custom', :media => 'screen' %>     		
 	  	<%= render 'shared/initialize' %>
		<%= stylesheet_link_tag 'layout', :media => 'screen' %>
  
 	  	<%= yield :head %>
  </head>
  <body>
	<div class="container round landing-bg" id="landing">  
		<%= yield :subhead %>
 	  	<div id="flash_notice" style="display:none"></div>
 	  	<%= yield :left_sidebar %>
	  	<%= yield :content %>
	</div> 
	<%= render 'layouts/footer' %>		
  </body>
</html>
